<section class="jumbotron hero hero-lighting d-flex">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 text-md-left">
        <h1 class="mb-3">Lighting Control</h1>
        <p class="lead mb-0">Lighting Control Systems reduce your energy consumption saving you money and making your home's lighting work with your lifestyle, impacting your home's appearance, safety, security and convenience.</p>
      </div>
    </div>
  </div>
</section>
<section class="section-padding">
  <div class="container">
    <div>
      <h2 class="small-h2">Lighting Control</h2>
      <p>A lighting consultant specifies the type of lighting fixtures and bulbs; we make them work for you! A press of a button can welcome you to a well-lit home, select a smartly accented dinner party setting or simply turn on all the outside lights when you hear a noise. These settings are referred to as "scenes" which are accessible from keypads, touchscreens, smartphones and iPads, or, can occur automatically based on the time of day.</p>

      <p>We have all seen unsightly banks of switches where you can't ever remember what does what:</p>
      <div class="text-center mt-2 mb-2">
        <img class="img-fluid" src="/assets/images/switch.jpeg" alt="switch"/>
      </div>

      <p>Instead, we work together to custom program the lighting scenes that make your life simpler. We then help you design, layout and label in your own words a single keypad that makes the magic happen!</p>
      <div class="text-center mt-2 mb-2">
        <img class="img-fluid" src="/assets/images/buttons.jpeg" alt="buttons"/>
      </div>

      <p>Once you have experienced a system like this, you will wonder how you lived without it! You and your designer will love it as it eliminates an eyesore and frees up the wall for other uses.</p>
    </div>
    <div class="text-center mt-2">
      <img class="img-fluid" src="/assets/images/lighting.jpeg" alt="lighting"/>
    </div>
  </div>
</section>
<section class="section-padding section-gray">
  <div class="container">
    <div>
      <h2 class="small-h2">Local or Remote Dimming?</h2>
      <p>Smart local dimmers and switches look similar to and operate like a standard light switch. In existing homes these can simply replace your existing switches. If you are remodeling or building a new home, let Electronic Home help you hide your smart switches to accomplish less wall clutter in a more traditional design.</p>

      <p>Remote dimming and switching is accomplished by wiring your lighting circuits to panels that are typically located in mechanical rooms or closets. The advantage of this is simple; less wall clutter without having to try to hide switches in closets!</p>

      <p>Call Electronic Home today for solutions to all of your lighting control needs. We have the products, engineering and programming expertise to complete any job big or small.</p>
    </div>
  </div>
</section>
<section class="section-padding">
  <div class="container">
    <div>
      <h2 class="small-h2">Control Daylight with the Touch of a Button</h2>
      <p>Motorized window coverings reduce energy consumption by properly utilizing daylight and minimizing the use of electric lighting and the HVAC system through filtering, deflecting and/or harnessing solar heat.</p>

      <p>In addition to energy savings, our motorized window covering systems are properly placed to protect furniture, artwork, and wood from harmful UV rays and they solve one of life's greatest problems by preventing window glare that is distracting when watching TV, gaming system screens and computer monitors.</p>

      <p>Safety and security are enhanced by restricting an outsider's view of your home’s interior at night or when you are away. Gone are the days of that cheap plastic look; we have fabric choices that will satisfy the most discerning homeowner or designer.</p>
      <div class="row mt-md-4">
        <div class="col-12 col-md-6">
          <p>We create luxurious motorized window covering systems using:</p>
          <ul>
            <li>Curtains/Drapery</li>
            <li>Roller Shades</li>
            <li>Honeycomb Shades</li>
            <li>Roman Shades (both soft and woven wood fabrics)</li>
            <li>Venetian Blinds (both wood and aluminum slats)</li>
          </ul>
          <div class="row my-4 my-md-5 justify-content-center">
            <div class="col-6 col-md-4">
              <a href="https://www.crestron.com/">
               <img class="img-fluid" src="/assets/logos/Crestron.svg" alt="Crestron"/>
              </a>
            </div>
            <div class="col-6 col-md-4">
              <a href="http://www.lutron.com/">
                <img class="img-fluid" src="/assets/logos/Lutron.svg" alt="Lutron Lighting Control"/>
              </a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <img class="img-fluid" src="/assets/images/Crestron-Motorized-Shades.jpg" alt="Crestron Motorized Shades">
        </div>
      </div>
    </div>
  </div>
</section>
