<!DOCTYPE html>
<html>
  <head>
    <%= partial "includes/layout/head" %>
  </head>
  <body>
    <%= partial "includes/layout/nav" %>
    <%= yield %>
    <%= partial "includes/layout/footer" %>
  </body>
</html>
