<!DOCTYPE html>
<html>
<head>
<%= partial "includes/layout/head" %>
</head>
<body>
<main>
<header>
<%= partial "includes/layout/header" %>
</header>
</main>
<script src="https://use.fontawesome.com/775cf82f18.js"></script>
</body>
</html>
