<div id="sonos">
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="//integrator-brandpage.sonos.com/js/sonos-embed-integration-responsive.js"></script>
<div id="container-sonos-page"></div>
</div>