<section class="jumbotron hero hero-contact d-flex">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 text-md-left">
        <h1 class="mb-3">Visit our showroom.</h1>
        <p class="lead mb-0">Our team is fully available and at your service.</p>
        <a class="btn btn-primary btn-lg mt-3" href="tel:+14042310504" role="button">404-231-0504</a>
      </div>
    </div>
  </div>
</section>
<section class="py-5">
  <div class="container">
    <section id="intro-bar" class="px-0 mb-5">
      <div class="container">
        <div class="row">
          <div class="col-12 hidden-sm-down col-md-3 box box1 d-flex">
            <address>
              Electronic Home, Inc.<br>
              Located in <a href="http://adacatlanta.com/showrooms/20" target="_blank">ADAC West</a><br>
              349 Peachtree Hills Ave NE Suite A7<br>
              Atlanta, GA 30305
            </address>  
          </div>
          <div class="col-12 col-md-3 box box2">
            <div class="map-overlay" onClick="style.pointerEvents='none'"></div>
            <style>.embed-container { padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13259.3061856928!2d-84.375569!3d33.816789!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9e198cce2c5053bc!2sElectronic+Home%2C+Inc.!5e0!3m2!1sen!2sus!4v1484427139331' width='600' height='450' frameborder='0' style='border:0' allowfullscreen></iframe></div>
          </div>
          <div class="col-12 hidden-sm-down col-md-3 box box3 d-flex">
            <div>
              Mon-Tue: By Appointment<br>
              Wed-Thu: 10-4<br>
              Fri: 10-6<br>
              Sat: By Appointment<br>
              Sun: Closed
            </div>
          </div>
          <div class="col-12 hidden-sm-down col-md-3 box box3 d-flex">
            <div>
              <a href="mailto:info@hometheaterdesigns.com">info@hometheaterdesigns.com</a><br>
              <a href="tel:+14042310504">404-231-0504</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="row">
      <div class="col-12 col-md-7 d-flex align-items-center">
        <div>
        <h2 class="small-h2">Thank you for your interest in Electronic Home</h2>
        <p>For inquiries of any kind, email <a href="mailto:info@hometheaterdesigns.com">info@hometheaterdesigns.com</a>, call <a href="tel:tel:+14042310504">404-231-0504</a> or schedule an appointment to visit our showroom.</p>
        <p>If you’re interested in a full tour of our product lines with a sales associate, please call ahead to schedule an appointment so that we can make sure the right person is here to spend all of the time you want (pro tip: we’re also known to make a great batch of popcorn).</p>
        </div>
      </div>
      <div class="col-12 col-md-5">
        <img class="img-fluid" src="/assets/images/eh-lobby.jpg">
      </div>
    </div>
  </div>
</section>



