<section class="jumbotron hero hero-networking d-flex">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 text-md-left">
        <h1 class="mb-3">Home Networking</h1>
        <p class="lead mb-0">From flawless WiFi and security to fully managed networks, we offer solutions to meet all your networking needs.</p>
      </div>
    </div>
  </div>
</section>
<section class="section-padding">
  <div class="container">
    <h2 class="small-h2">Introduction</h2>
    <p>It seems like everything today needs to be connected to your network....your PCs/Macs, smartphones, printers, CATV/Satellite boxes, security system, Bluray players, video game consoles, music and movie streaming and download services and even some modern appliances! As technologies converge, the demands on your home network are only going to increase. Connecting all of these products creates bandwidth demands and security concerns that must be properly addressed and managed.</p>

    <p>The savvy homeowner realizes that they can no longer rely on over-the-counter box store solutions. Many turn to their company IT department. While this sounds like a logical solution, we have found that it often not only doesn't solve the problems, it creates unforeseen support and productivity issues.</p>

    <p>Electronic Home can deliver best-in-class, enterprise level, Unified Home Networks to keep your home connected and secure. Your network can be partitioned into several Virtual Local Area Networks (VLANs) to separate your Home Office, Family Computers, Audio/Video &amp; Home Automation Systems and Guest Access, keeping your office and private information secure from both the outside world and users in your own home!</p>
  </div>
</section>
<section class="section-padding section-gray">
  <div class="container">
    <div class="mb-3">
      <h2 class="small-h2">Enterprise Level WiFi</h2>
    </div>
    <div>
      <div>
        <img class="img-fluid pull-left pr-md-4" src="/assets/images/wifi.png" alt="wifi"/>
        <img class="img-fluid pull-left pr-md-4" src="/assets/images/wifi2.png" alt="wifi2"/>
      </div>
      <p>Traditional, consumer grade WiFi transmits its signal in all directions with the signal weakening as you get farther away from the WAP, much like a light bulb.</p>

      <p>Ruckus uses a patented technology that focuses the signal where you are and follows you as you move about, much like a flashlight. This reduces interference and allows for a stronger signal to arrive at your location!</p>

      <p>Our Unified Home Network features Ruckus BeamFlex® technology and an intelligent Wireless Controller that acts like an air traffic controller optimizing bandwidth and traffic flow and dynamically modifying the wireless channels to keep your network running at peak performance. With your permission, we will have secure, remote wireless access to monitor performance and update your configuration and firmware without having to schedule an on-site service call!</p>

      <p>If desired, we can provide Full Property Wireless Coverage, inside and out! Yes, you can now surf the web or control your home from your pool or boat dock!</p>
    </div>
  </div>
</section>
<section class="section-padding foam" id="electronics">
    <div class="container">
      <h2 class="small-h2 text-center">Network Solutions</h2>
      <div class="row partner-logos">
      <div class="col-6 col-sm-3">
      <a href="https://www.accessnetworks.com/">
        <img class="img-fluid" src="/assets/logos/Access-Networks.svg" alt="Access Networks"/>
      </a>
      </div>
      <div class="col-6 col-sm-3">
        <a href="http://www.araknisnetworks.com/">
        <img class="img-fluid" src="/assets/logos/Araknis.svg" alt="Araknis"/>
      </a>
      </div>
      <div class="col-6 col-sm-3">
        <a href="https://www.netgate.com/">
          <img class="img-fluid" src="/assets/logos/pf-sense.svg" alt="Pf-sense"/>
        </a>
      </div>
      <div class="col-6 col-sm-3">
        <a href="https://www.ruckuswireless.com/">
          <img class="img-fluid" src="/assets/logos/Ruckus.svg" alt="Ruckus Wireless"/>
        </a>
      </div>
    </div>
  </section>
<section class="section-padding">
  <div class="container">
    <div class="mb-3">
      <h2 class="small-h2">Networks</h2>
    </div>
    <div>
      <h3 class="h5">Partially Managed Networks</h3>
      <p>With our Partially Managed Networks we design, install, configure and support your home network, in person. Phone support is via working through you as we have limited remote support capabilities.</p>
    </div>
    <div class="mt-5">
      <h3 class="h5">Fully Managed Networks</h3>
      <p>For our most advanced networks, we have partnered with a company that not only understands networking, but also the needs of the A/V industry. They are fully Cisco CCNA and CCNP Certified and will put together a custom network that gives optimum performance and security.</p>
    </div>
  </div>
</section>
