 <div id="cinema">
  <section class="jumbotron hero hero-cinema d-flex">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-7 text-md-left">
          <h1 class="mb-3">Better than the box office.</h1>
          <p class="lead">We offer theater consultation, design, turn-key build-out, decor and accessories, quality electronics, and installation and repair services.</p>
          <a class="btn btn-primary" href="/contact" role="button">Visit our showroom</a>
        </div>
      </div>
    </div>
  </section>
  <section class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2 class="small-h2">Performance By Design</h2>
          <h3 class="h5">We have systems that fit almost any budget.</h3>
        </div>
        <div class="col-md-8 col-body">
          <p>If you are looking for a company that understands how to create the best home theater experience your money can buy, then look no further! EH specializes in turning home theater dreams into reality. We have been asked for design and installation assistance across the USA and have succeeded with many <i>difficult</i> installations.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="foam d-flex" id="experience">
    <div class="layout-2">
      <div class="bg"></div>
      <div class="box-feature">
        <h2 class="text-md-left mb-0">Our home theaters allow you to be a participant instead of a viewer by experiencing a movie at its fullest&mdash;without having to leave home.</h2>
      </div>
    </div>
  </section>
  <section class="section-padding" id="theater-design">
    <div class="container">
      <div class="row">
        <div class="col-md-4 d-flex justify-content-center">
          <img src="/assets/images/theaters/spot-design.svg" class="img-fluid graphic-lg">
        </div>
        <div class="col-md-8 mt-5 mt-md-0">
          <h2 class="small-h2">Design Services</h2>
          <h3 class="h5">Bring your theater to life.</h3>
          <p>We use computer modeling combined with our real-life knowledge and experience to create the best environment for your room and budget. Our designer will work with you and/or your designer to ensure not only a wonderful looking theater, but one that considers the proper seating distances, acoustics, and imaging considerations.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="section-padding section-gray" id="turn-key">
    <div class="container">
      <h2 class="small-h2">Turn-key Build-out</h2>
      <div class="row">
        <div class="col-md-4 lead">
          <h3 class="h5">We have the personnel and subcontractors to do what our competitors simply can't.</h3>
        </div>
        <div class="col-md-8 col-body">
          <p>Many home theaters are being added to homes as part of a remodeling project or basement (terrace level for you designers!) build-out. If you have a contractor you are comfortable with, we will gladly work with them and coordinate our efforts to smoothly complete your project. If you don't have a contractor, let Electronic Home bid out the entire project from framing to that first batch of popcorn! </p>
        </div>
      </div>
    </div>
  </section>

<!--             Using all bootstrap utility classes, no custom css           -->
  <section>
    <div class="container-fluid p-0">
      <div class="row m-0">
        <div class="col-12 col-md-4 push-md-8 p-0">
          <img class="img-fluid" src="/assets/images/theaters/sims-ratliff.jpg">
        </div>
        <div class="col-12 col-md-8 pull-md-4 d-flex flex-column justify-content-center pt-4 pb-5 pb-md-0 pt-md-0 pl-md-5 pr-md-5">
          <h2 class="small-h2">Theater Decor</h2>
          <h3 class="h5 pb-2">Personalizing a home theater allows you to be creative if you choose.</h3>
          <p>We have even incorporated antique entrance doors, sculptures, mounted game and movie collectables to create theater themes. We offer a full line of Cinema related accessories too, including Movie Posters and Frames, Movie Reel Art and Furniture, Popcorn Machines, Ropes and Stanchions, you name it and we will help you acquire it! We offer it all.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- ====================================================================================== -->

  <section class="section-padding section-gray text-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-9">
          <h2 class="h5 pb-2">"How much does a Home Theater cost?"</h2>
          <p>This is a natural question that can be difficult to answer. A comparison that has helped to put it into perspective for many clients is that it is similar to asking "how much does a car cost?". Depending on what you are looking for, there are excellent options available at (almost) any budget.</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container-fluid p-0">
      <div class="row m-0">
        <div class="col-12 col-md-4 p-0">
          <img class="img-fluid" src="/assets/images/theaters/sims-grantham.jpg">
        </div>
        <div class="col-12 col-md-8 d-flex flex-column justify-content-center pt-4 pb-5 pb-md-0 pt-md-0 pl-md-5 pr-md-5">
          <h2 class="small-h2">Complete Room Packages</h2>
          <p>Through our years of experience in building some of the finest custom home theaters, we have developed packages of equipment that compliment each other given the level of overall performance desired.</p>
        </div>
      </div>
    </div>
  </section>


  <section class="section-padding section-gray" id="packages">
    <div class="container">
      <h3 class="h5 mb-5">Features included in each room package:</h3>
      <div class="row text-md-left">
        <div class="col-sm-6 col-lg-4">
          <img src="/assets/icons/icon-layout.svg" class="icon" alt="Sony"/>
          <h2 class="small-h2">Room Layout</h2>
          <p>This often overlooked step can make or break a project. Viewing distances, sight lines and product placement are critical considerations.</p>
        </div>
        <div class="col-sm-6 col-lg-4">
          <img src="/assets/icons/icon-acoustic.svg" class="icon" alt="Sony"/>
          <h2 class="small-h2">Acoustical Treatments</h2>
          <p>Identifying areas in need of attention up-front can save a lot of time and money. Even minor treatments can provide enhanced performance.</p>
        </div>
        <div class="col-sm-6 col-lg-4">
          <img src="/assets/icons/icon-conditioner.svg" class="icon" alt="Sony"/>
          <h2 class="small-h2">Power Conditioning</h2>
          <p>Helps tame Mother Nature and your power company while providing peace of mind.</p>
        </div>
        <div class="col-sm-6 col-lg-4">
          <img src="/assets/icons/icon-rack.svg" class="icon" alt="Sony"/>
          <h2 class="small-h2">Equipment Rack</h2>
          <p>Provides the proper environment for ease of use and service along with extending product life with proper ventilation and isolation.</p>
        </div>
        <div class="col-sm-6 col-lg-4">
          <img src="/assets/icons/icon-surround-sound.svg" class="icon" alt="Sony"/>
          <h2 class="small-h2">Surround Sound</h2>
          <p>Choose from the latest processing and speaker technologies designed to enhance your movie experience.</p>
        </div>
        <div class="col-sm-6 col-lg-4">
          <img src="/assets/icons/icon-video.svg" class="icon" alt="Sony"/>
          <h2 class="small-h2">Video System</h2>
          <p>We offer the best in both High Definition and Ultra High Definition projectors and flat panels and have the experience to guide your decision.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="section-padding foam" id="electronics">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="small-h2 text-center">We offer Home Cinema components from top brands.</h2>
          <div class="row logo-large">
            <div class="col-6 col-sm-4">
              <a href="https://www.meridian-audio.com/">
                <img src="/assets/logos/Meridian.svg" alt="Meridian"/>
              </a>
            </div>
            <div class="col-6 col-sm-4">
              <a href="https://www.anthemav.com/">
                <img src="/assets/logos/Anthem.svg" alt="Anthem"/>
              </a>
            </div>
            <div class="col-6 col-sm-4">
              <a href="http://www.sony.com/">
                <img src="/assets/logos/Sony.svg" alt="Sony"/>
              </a>
            </div>
            <div class="col-6 col-sm-4">
              <a href="http://www.digitalprojection.com/">
                <img src="/assets/logos/Digital-Projection.svg" alt="Digital Projection"/>
              </a>
            </div>
            <div class="col-6 col-sm-4">
              <a href="http://www.barco.com/">
                <img class="img-fluid" src="/assets/logos/barco-residential.svg" alt="Barco"/>
              </a>
            </div>
            <div class="col-6 col-sm-4">
              <a href="https://www.audiocontrol.com/">
                <img class="img-fluid" src="/assets/logos/Audio-Control.svg" alt="Audio Control"/>
              </a>
            </div>
            <div class="col-6 col-sm-4">
              <a href="https://www.screeninnovations.com/">
                <img class="img-fluid" src="/assets/logos/Screen-Innovations.svg" alt="Screen Innovations"/>
              </a>
            </div>
            <div class="col-6 col-sm-4">
              <a href="https://www.futureautomation.net/">
                <img class="img-fluid" src="/assets/logos/Future-Automation.svg" alt="Future Automations"/>
              </a>
            </div>
            <div class="col-6 col-sm-4">
              <a href="https://display-technologies.com/">
                <img class="img-fluid" src="/assets/logos/display-technologies.svg" alt="Display Technologies"/>
              </a>
            </div>
            <div class="col-6 col-sm-4">
              <!--<a href="http://www.sim2usa.com/">
                <img src="/assets/logos/Sim2.svg" alt="Sim2"/>
              </a>-->
              <a href="https://www.stormaudio.com/">
                <img src="/assets/logos/Storm-Audio.svg" alt="Storm Audio"/>
              </a>
            </div>
            <div class="col-6 col-sm-4">
              <a href="http://www.stewartfilmscreen.com/">
                <img src="/assets/logos/Stewart.svg" alt="Stewart"/>
              </a>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-padding section-gray" id="electronics-packages">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class="small-h2">Electronics Packages</h2>
          <h3 class="h5 pb-2">Setting up a new room or simply need to upgrade your outdated electronics?</h3>
          <p>We offer both <em>professionally installed</em> and <em>professionally prepared</em> packages. In either case, we provide COMPLETE packages that include Power Conditioning, Equipment Rack, a quality Surround Sound System, a quality Video Projection System or large Flat Panel Display, a movie player (a Bluray Player OR a Kaleidescape Movie Server), all A/V Cables (including for your satellite/CATV DVR) and one of our standardized Control Systems with battery backup.</p>
          <!--<a class="btn btn-secondary" href="http://www.inadausa.com/" role="button">LEARN MORE</a>-->
        </div>
        <div class="col-md-6 mt-5 mt-md-0 d-flex flex-column justify-content-center">
          <img src="/assets/images/kaleidescape.png" class="img-fluid">
        </div>
      </div>
    </div>
  </section>
