<div id="seating">
  <section class="jumbotron hero hero-seating d-flex">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-8 text-md-left">
          <h1 class="mb-3">Theater Seating</h1>
          <p class="lead mb-0">Always have the best seat in the house.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-5">
          <h2 class="small-h2">Home Theater &amp; Media Room Seating</h2>
          <p>Electronic Home is proud to offer quality theater and media room seating from CinemaTech, Fortress and Cineak. Leaders in quality seating, all three companies offer a variety of styles and customization to accommodate the most discerning client.</p>
          <a href="/home-cinema" class="btn btn-secondary mt-3">
            Home Theaters &raquo;
          </a>
        </div>
        <div class="col-12 col-md-7 mt-5 mt-md-0">
          <div class="photo-slider">
            <div class="slider-image">
              <div><img class="img-fluid" src="/assets/images/seating/main/u3q7eyek-980x2000.jpeg"/></div>
              <div><img class="img-fluid" src="/assets/images/seating/main/u8wd599o-980x2000.png"/></div>
              <div><img class="img-fluid" src="/assets/images/seating/main/u9av0q0u-980x2000.jpeg"/></div>
              <div><img class="img-fluid" src="/assets/images/seating/main/u52vijjb-980x2000.jpeg"/></div>
              <div><img class="img-fluid" src="/assets/images/seating/main/u54za0ah-980x980.jpeg"/></div>
              <div><img class="img-fluid" src="/assets/images/seating/main/u86x0q0u-980x980.jpeg"/></div>
              <div><img class="img-fluid" src="/assets/images/seating/main/uiezy2yp-980x2000.jpeg"/></div>
              <div><img class="img-fluid" src="/assets/images/seating/main/ujer8f8z-980x980.jpeg"/></div>
              <div><img class="img-fluid" src="/assets/images/seating/main/ujsra0ah-980x2000.jpeg"/></div>
              <div><img class="img-fluid" src="/assets/images/seating/main/ukag3i3v-980x980.jpeg"/></div>
              <div><img class="img-fluid" src="/assets/images/seating/main/uklwktte-980x2000.png"/></div>
              <div><img class="img-fluid" src="/assets/images/seating/main/um0dqeqc-980x2000.jpeg"/></div>
              <div><img class="img-fluid" src="/assets/images/seating/main/unlosast-980x2000.jpeg"/></div>
              <div><img class="img-fluid" src="/assets/images/seating/main/unqo5857-980x980.jpeg"/></div>
              <div><img class="img-fluid" src="/assets/images/seating/main/up0bi5id-980x2000.jpeg"/></div>
              <div><img class="img-fluid" src="/assets/images/seating/main/upfblsl1-980x2000.jpeg"/></div>
              <div><img class="img-fluid" src="/assets/images/seating/main/ups4phhy-980x2000.png"/></div>
              <div><img class="img-fluid" src="/assets/images/seating/main/z9er8f8z-980x980.jpeg"/></div>
              <div><img class="img-fluid" src="/assets/images/seating/main/z15ypnp6-980x2000.jpeg"/></div>
              <div><img class="img-fluid" src="/assets/images/seating/main/z90gjccw-980x2000.png"/></div>
              <div><img class="img-fluid" src="/assets/images/seating/main/z1301ddl-980x2000.png"/></div>
              <div><img class="img-fluid" src="/assets/images/seating/main/zhfwj9jb-980x980.jpeg"/></div>
              <div><img class="img-fluid" src="/assets/images/seating/main/zjsra0ah-980x2000.jpeg"/></div>
              <div><img class="img-fluid" src="/assets/images/seating/main/zk8gflfx-980x2000.jpeg"/></div>
              <div><img class="img-fluid" src="/assets/images/seating/main/znlosast-980x2000.jpeg"/></div>
              <div><img class="img-fluid" src="/assets/images/seating/main/zpfblsl1-980x2000.jpeg"/></div>
              <div><img class="img-fluid" src="/assets/images/seating/main/zt82njng-980x980.jpeg"/></div>
              <div><img class="img-fluid" src="/assets/images/seating/main/zui45857-980x2000.jpeg"/></div>
              <div><img class="img-fluid" src="/assets/images/seating/main/zul49m9o-980x980.jpeg"/></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<section class="section-padding section-gray">
    <div class="container">
      <h2 class="small-h2 text-center">Brand Partners</h2>
      <div class="row partner-logos">
        <div class="col-6 col-md-3">
        <a href="https://www.middleatlantic.com/">
          <img class="img-fluid" src="/assets/logos/Middle-Atlantic.svg" alt="Middle Atlantic"/>
        </a>
        <a href="https://www.jaymar.ca/en/">
          <img class="img-fluid" src="/assets/logos/Jaymar.svg" alt="Jaymar"/>
        </a>
        </div>
        <div class="col-6 col-md-3">
          <a href="http://www.cineak.com">
          <img class="img-fluid" src="/assets/logos/cineak.svg" alt="Cineak"/>
        </a>
        <a href="http://www.fortresseating.com/">
          <img class="img-fluid" src="/assets/logos/fortress-seating.svg" alt="Fortress Seating"/>
        </a>
        </div>
        <div class="col-6 col-md-3">
          <a href="http://www.mycinematech.com/">
            <img class="img-fluid" src="/assets/logos/CinemaTech.svg" alt="CinemaTech Home Theater Seating"/>
          </a>
          <a href="https://rayva.com">
            <img class="img-fluid" src="/assets/logos/ravya.svg" alt="Ravya"/>
          </a>
        </div>
        <div class="col-6 col-md-3">
          <a href="https://www.salamanderdesigns.com/">
            <img class="img-fluid" src="/assets/logos/Salamander.svg" alt="Salamander"/>
          </a>
          <a href="https://www.environmentallights.com/">
            <img class="img-fluid" src="/assets/logos/Environmental-Lights.svg" alt="Environmental Lights"/>
          </a>
        </div>
      </div>
    </div>
  </section>  
</div>
