html
  head
    link(rel='stylesheet', href='/styles/foundation.css')
    link(rel='stylesheet', href='/styles/scott.css')
    title Electronic Home
      
  .row
    .columns
      #scott
        #photo_gallery
          a#home_theater
          iframe src="http://files.photosnack.com/iframe/embed.html?hash=pup569mk&wmode=transparent&t=1405002609" 
