html
  head
    link(rel='stylesheet', href='/styles/foundation.css')
    link(rel='stylesheet', href='/styles/scott.css')
    title Electronic Home

  .row
    .columns
      #scott
        #photo_gallery
          a#media_rooms
          iframe src="http://files.photosnack.com/iframe/embed.html?hash=phiyx2we&wmode=transparent&t=1363573441" 
          