html
  head
    link(rel='stylesheet', href='/styles/foundation.css')
    link(rel='stylesheet', href='/styles/scott.css')
    title Electronic Home

  .row
    .columns
      #scott
        #photo_gallery
          a#outdoor_areas
          iframe src="http://files.photosnack.com/iframe/embed.html?hash=p7n82i5m&wmode=transparent&t=1381010110" 
          