<% require 'json' %>
<% if post.data.image_title %>
  <%= partial "includes/blog/image", :locals => {:post => post} %>
  <%= partial "includes/blog/meta", :locals => {:post => post} %>
<% else %>
  <section>
    <div class="blog-jumbotron">
      <div class="container">
        <div class="row">
          <h1 class="entry-title">
            <%= post.title %>
          </h1>
        </div>
      </div>
    </div>
  </section>
<% end %>
<div class="container">
  <div class="row">
    <div class="entry-content">
      <%= post.summary %>
    </div>
  </div>
</div>
