<div class="menu">
  <div class="app-menu">
    <div class="menu-close">
      <svg class="menu-icon icon-close" x="0" y="0" width="80" height="80" viewBox="0, 0, 80, 80">
        <g id="Layer_2" transform="translate(0, 0)"/>
        <g id="Layer_3" transform="translate(0, 0)">
          <path d="M30.808,29.393 L50.607,49.192 L49.192,50.607 L29.393,30.808 L30.808,29.393 z"/>
          <path d="M29.393,49.192 L49.192,29.393 L50.607,30.808 L30.808,50.607 L29.393,49.192 z"/>
        </g>
      </svg>
    </div>
    <hr>
    <div id="accordion" role="tablist" aria-multiselectable="true">
      <div class="card">
        <div class="card-header">
          <a class="nav-link dropdown-toggle" role="tab" id="headingOne" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#entertainment" aria-expanded="false" aria-controls="entertainment">
            Entertainment
          </a>
        </div>
        <div id="entertainment" class="collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="card-block">
            <ul>
              <li><a class="nav-link nav-link-nested" href="/home-cinema">Home Cinema</a></li>
              <hr>
              <li><a class="nav-link nav-link-nested" href="/music">Music</a></li>
            </ul>
          </div>
        </div>
      </div>
      <hr>
      <div class="card">
        <div class="card-header">
          <a class="nav-link dropdown-toggle" role="tab" id="headingTwo" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#control" aria-expanded="false" aria-controls="control">
            Control
          </a>
        </div>
        <div id="control" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="card-block">
            <ul>
              <li><a class="nav-link nav-link-nested" href="/lighting">Lighting Systems</a></li>
              <hr>
              <li><a class="nav-link nav-link-nested" href="/control">Home Control</a></li>
            </ul>
          </div>
        </div>
      </div>
      <hr>
      <div class="card">
        <div class="card-header" role="tab" id="headingThree">
          <a class="nav-link" href="/networking">
            Networking
          </a>
        </div>
      </div>
      <hr>
      <div class="card">
        <div class="card-header" role="tab" id="headingFour">
          <a class="nav-link" href="/seating">
            Theater Seating
          </a>
        </div>
      </div>
      <hr>
      <div class="card">
        <div class="card-header" role="tab" id="headingFive">
          <a class="nav-link" href="/outdoor">
            Outdoor
          </a>
        </div>
      </div>
      <!--<hr>
      <div class="card">
        <div class="card-header" role="tab" id="headingSix">
          <a class="nav-link" href="/sale">
            Sale
          </a>
        </div>
      </div>-->
      <hr>
      <div class="card">
        <div class="card-header" role="tab" id="headingSeven">
          <a class="nav-link" href="/contact">
            Contact
          </a>
        </div>
      </div>
      <hr>
    </div>
  </div>
</div>
