<footer class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="social mb-4">
          <!--<a target="_blank" href="https://www.facebook.com/ElectronicHomeInc">
            <img src="/assets/icons/icon-facebook.svg" alt="facebook"/>
          </a>
          <a target="_blank" href="https://twitter.com/EHAtlanta">
            <img src="/assets/icons/icon-twitter.svg" alt="twitter"/>
          </a>
          <a target="_blank" href="https://plus.google.com/115721766304321633286/about?gl=us&hl=en">
            <img src="/assets/icons/icon-google-plus.svg" alt="google+"/>
          </a>-->
          <a target="_blank" href="https://www.linkedin.com/company/818391">
            <img src="/assets/icons/icon-linkedin.svg" alt="linked-in"/>
          </a>
        </div>
        <div class="hidden-sm-down">
          <p class="mb-0">© 2020 Electronic Home, Inc. &nbsp;|&nbsp; <a href="/privacy">Privacy Policy</a> &nbsp;|&nbsp; <a href="/terms">Terms of Use</a></p>
        </div>
        <div class="hidden-md-up">
          <p class="mb-0">© 2020 Electronic Home, Inc.</p>
          <a href="/privacy">Privacy Policy</a> &nbsp;|&nbsp; <a href="/terms">Terms of Use</a>
        </div>
      </div>
    </div>
  </div>
</footer>
