<div class="header d-flex">
  <div class="menu-open hide-on-desktop">
    <svg class="menu-icon icon-hamburger" x="0" y="0" width="80" height="80" viewBox="0, 0, 80, 80">
      <g id="Layer_2" transform="translate(0, 0)"/>
      <g id="Layer_1" transform="translate(0, 0)">
        <path d="M28,32 L52,32 L52,34 L28,34 L28,32 z"/>
        <path d="M28,39 L52,39 L52,41 L28,41 L28,39 z"/>
        <path d="M28,46 L52,46 L52,48 L28,48 L28,46 z"/>
      </g>
    </svg>
  </div>
  <div class="nav-flex d-flex margin-on-dekstop">
    <div class="logo">
      <a href="/">
        <img src="/assets/logos/EH-white.svg"/>
      </a>
    </div>
    <%= partial "includes/layout/nav-right" %>
  </div>
</div>
