<nav class="nav-right hidden-md-down">
  <ul class="list-inline mb-0">
    <li class="list-inline-item">
      <div class="dropdown">
        <a href="#/" class="nav-link dropbtn">Entertainment</a>
        <div class="dropdown-content dropdown-ent">
          <div class="notch"></div>
          <a class="nav-link dropdown-item" href="/home-cinema">Home Cinema</a>
          <a class="nav-link dropdown-item" href="/music">Music</a>
        </div>
      </div>
    </li>
    <li class="list-inline-item">
      <div class="dropdown">
        <a href="#/" class="nav-link dropbtn">Control</a>
        <div class="dropdown-content dropdown-control">
          <div class="notch"></div>
          <a class="nav-link dropdown-item" href="/lighting">Lighting Systems</a>
          <a class="nav-link dropdown-item" href="/control">Home Control</a>
        </div>
      </div>
    </li>
    <li class="list-inline-item">
      <a class="nav-link" href="/networking">Networking</a>
    </li>
    <li class="list-inline-item">
      <a class="nav-link" href="/seating">Theater Seating</a>
    </li>
    <li class="list-inline-item">
      <a class="nav-link" href="/outdoor">Outdoor</a>
    </li>
    <!--<li class="list-inline-item">
      <a class="nav-link" href="/sale">Sale</a>
    </li>-->
    <li class="list-inline-item">
      <a class="nav-link" href="/contact">Contact</a>
    </li>
  </ul>
</nav>