<nav class="navbar" role="navigation">
  <button class="navbar-toggler hidden-med-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
    &#9776;
  </button>
  <a class="navbar-brand" href="/">
    <img src="/assets/logo-eh.svg"/>
  </a>
  <div class="collapse navbar-toggleable-sm" id="exCollapsingNavbar2">
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <a href="/home-theaters">
          <button class="btn-trans">Theaters</button>
        </a>
      </li>
      <li class="nav-item">
        <a href="/home-control">
          <button class="btn-trans">Control</button>
        </a>
      </li>
      <li class="nav-item">
        <a href="/home-networking">
          <button class="btn-trans">Networking</button>
        </a>
      </li>
      <li class="nav-item">
        <a href="/seating">
          <button class="btn-trans">Seating</button>
        </a>
      </li>
      <li class="nav-item">
        <a href="/about">
          <button class="btn-trans">About</button>
        </a>
      </li>
      <li class="nav-item">
        <a href="/contact">
          <button class="btn btn-outline-primary">Contact</button>
        </a>
        <!--<a href="tel:404-231-0504">
          <button class="btn btn-primary">Free Consultation</button>
        </a>-->
      </li>
    <!--
      <li class="nav-item">
        <div class="btn-group">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Home Entertainment
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#">Home Theaters</a>
            <a class="dropdown-item" href="#">Unlock Your Music</a>
            <a class="dropdown-item" href="#">Local OR Video Distribution?</a>
            <a class="dropdown-item" href="#">The Great Outdoors!</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <div class="btn-group">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Home Control
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#">Introduction</a>
            <a class="dropdown-item" href="#">Lighting Control</a>
            <a class="dropdown-item" href="#">Basic Home Automation</a>
            <a class="dropdown-item" href="#">Sophisticated Home Automation</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <div class="btn-group">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Home Networking
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#">Introduction</a>
            <a class="dropdown-item" href="#">Enterprise Level WiFi</a>
            <a class="dropdown-item" href="#">Partially Managed Networks</a>
            <a class="dropdown-item" href="#">Fully Managed Networks</a>
            <a class="dropdown-item" href="#">Outdoor WiFi</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <div class="btn-group">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Seating
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#">Home Theater and Media Room Seating</a>
            <a class="dropdown-item" href="#">Massage Chairs</a>
            <a class="dropdown-item" href="#">Zero Gravity Chairs</a>
            <a class="dropdown-item" href="#">Bar Stools</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-secondary">
          Contact Us
        </button>
      </li>
      -->

    </ul>
  </div>
</nav>
