<div id="sale">
  <div class="hero"></div>
  <div class="container">
    <div class="row">
      <div class="col-10 col-lg-4">
        <div class="item-card">
          <div class="price">$799</div>
          <div class="item-img"><img class="img-fluid" src="/assets/images/sale/focal-utopia.png"></div>
          <div class="item-name">Lorem Ipsum</div>
          <div class="breaker"></div>
          <div class="item-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis auctor iaculis ante.</div>
          <a href="#" class="btn btn-buy">Buy</a>
        </div>
        <div class="card-shadow"></div>
      </div>
      <div class="col-10 col-lg-4">
        <div class="item-card">
          <div class="price">$799</div>
          <div class="item-img"><img class="img-fluid" src="/assets/images/sale/focal-utopia.png"></div>
          <div class="item-name">Lorem Ipsum</div>
          <div class="breaker"></div>
          <div class="item-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis auctor iaculis ante.</div>
          <a href="#" class="btn btn-buy">Buy</a>
        </div>
        <div class="card-shadow"></div>
      </div>
      <div class="col-10 col-lg-4">
        <div class="item-card">
          <div class="price">$799</div>
          <div class="item-img"><img class="img-fluid" src="/assets/images/sale/focal-utopia.png"></div>
          <div class="item-name">Lorem Ipsum</div>
          <div class="breaker"></div>
          <div class="item-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis auctor iaculis ante.</div>
          <a href="#" class="btn btn-buy">Buy</a>
        </div>
        <div class="card-shadow"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-10 col-lg-4">
        <div class="item-card">
          <div class="price">$799</div>
          <div class="item-img"><img class="img-fluid" src="/assets/images/sale/focal-utopia.png"></div>
          <div class="item-name">Lorem Ipsum</div>
          <div class="breaker"></div>
          <div class="item-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis auctor iaculis ante.</div>
          <a href="#" class="btn btn-buy">Buy</a>
        </div>
        <div class="card-shadow"></div>
      </div>
      <div class="col-10 col-lg-4">
        <div class="item-card">
          <div class="price">$799</div>
          <div class="item-img"><img class="img-fluid" src="/assets/images/sale/focal-utopia.png"></div>
          <div class="item-name">Lorem Ipsum</div>
          <div class="breaker"></div>
          <div class="item-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis auctor iaculis ante.</div>
          <a href="#" class="btn btn-buy">Buy</a>
        </div>
        <div class="card-shadow"></div>
      </div>
      <div class="col-10 col-lg-4">
        <div class="item-card">
          <div class="price">$799</div>
          <div class="item-img"><img class="img-fluid" src="/assets/images/sale/focal-utopia.png"></div>
          <div class="item-name">Lorem Ipsum</div>
          <div class="breaker"></div>
          <div class="item-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis auctor iaculis ante.</div>
          <a href="#" class="btn btn-buy">Buy</a>
        </div>
        <div class="card-shadow"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-10 col-lg-4">
        <div class="item-card">
          <div class="price">$799</div>
          <div class="item-img"><img class="img-fluid" src="/assets/images/sale/focal-utopia.png"></div>
          <div class="item-name">Lorem Ipsum</div>
          <div class="breaker"></div>
          <div class="item-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis auctor iaculis ante.</div>
          <a href="#" class="btn btn-buy">Buy</a>
        </div>
        <div class="card-shadow"></div>
      </div>
      <div class="col-10 col-lg-4">
        <div class="item-card">
          <div class="price">$799</div>
          <div class="item-img"><img class="img-fluid" src="/assets/images/sale/focal-utopia.png"></div>
          <div class="item-name">Lorem Ipsum</div>
          <div class="breaker"></div>
          <div class="item-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis auctor iaculis ante.</div>
          <a href="#" class="btn btn-buy">Buy</a>
        </div>
        <div class="card-shadow"></div>
      </div>
      <div class="col-10 col-lg-4">
        <div class="item-card">
          <div class="price">$799</div>
          <div class="item-img"><img class="img-fluid" src="/assets/images/sale/focal-utopia.png"></div>
          <div class="item-name">Lorem Ipsum</div>
          <div class="breaker"></div>
          <div class="item-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis auctor iaculis ante.</div>
          <a href="#" class="btn btn-buy">Buy</a>
        </div>
        <div class="card-shadow"></div>
      </div>
    </div>
  </div>
</div>