<div class="page-wrapper">
  <section id="seating" class="section-wrapper">
    <div class="container">
      <div class="m-b-3">
        <h1>Local or Distributed Video?</h1>
      </div>
      <div>
        <h2 class="small-h2">Local Video Sources</h2>
        <p class="breaker"></p>
        <p>In the past, video sources were quite large which meant that a piece of furniture was required at each TV location. House wide video distribution systems allowed these sources to be centrally located and open up placement opportunities and design choices not previously available.</p>
 
        <p>The pendulum has swung! Most cable and satellite companies now offer very small boxes and media streaming devices are even smaller. We have innovative mounting options that make it possible to have these smaller local sources without the furniture just like with a house wide system. This is significant as it provides design flexibility at a much lower price and retrofit/add-on solutions that were not previously possible.</p>
      </div>
    </div>
  </section>
  <section class="section-wrapper section-gray">
    <div class="container">
      <div>
        <h2 class="small-h2">Video Distribution</h2>
        <p class="breaker"></p>
        <p>Electronic Home designs and installs whole house video distribution systems. From CCTV to HDTV, we do it all. We offer systems &amp; components from ADA, Atlona, Binary, Control4, Crestron, Key Digital, RTI &amp; Spectrum Electronics.
 
        <p>We have a very visual society so it is only logical that our need to get video from one place to another is growing. Front door/gate and baby cams have been driving that need for years, but the digital age has brought on other needs. Video and PCs are converging changing the way we get information and even our shopping habits! Pay-per-view movies and video-on-demand services are creating demands for even more flexibility in our home electronics and networking. We offer a variety of solutions!</p>
         
        <p>Who needs video distribution? You might be surprised. Video distribution is used to add convenience, security and peace-of-mind to your life.</p>
         
        <p>The most common form involves CCTV (Closed Circuit Television) signals. I am sure everyone is familiar with having a camera at a gated entrance, door, swimming pool or a nursery. Checking on who is coming to see you or watching the kids play while you work is invaluable. With a quality in-home network and a fast Internet connection, you can also do this from your office or anywhere in the world on your smartphone or PC via the internet!</p>
         
        <p>More people are also seeing the value of sending Bluray, DVD, satellite, CATV or steaming video signals to multiple rooms in the house. This allows you to finish up a movie in the bedroom while others continue to watch it in the theater. If you are entertaining, you may want the kids to watch a program in the playroom while the adults watch in the living room enjoying conversation without all of the background noise.</p>

        <h3 class="m-t-3 m-b-2">Sophisticated Video Distribution Systems</h3>
        <p>More sophisticated video distribution systems can integrate into a home automation system giving you greater control and easier access. Matrix Switching Devices can route your HD and 4K Ultra HD signals from any source to any TV or any combination of TVs while maintaining full resolution and frame rates.</p>
 
        <p>Over the past 25 years, Electronic Home has consistently stayed at the fore front of technology and video distribution is no exception. We have attended advanced HDMI training from on of the best in the industry, Jeff Boccaccio of DPL Labs, have multiple certified Crestron Digital Media experts and have researched and reviewed all of the top products in the industry. We stay on-top of all of the emerging technologies such as HDBaseT and 4K Ultra HD. We know what works and can offer the solution that works best for you!</p>
      </div>
    </div> <!-- container -->
  </section>
  <section class="section-wrapper">
    <div class="container">
      <div>
        <h2 class="small-h2">Outdoor Video</h2>
        <p class="breaker"></p>
        <p>Entertainment has moved outside in a big way. Forget tailgating. Quality outdoor HDTVs bring your favorite sporting event to your Deck, Outdoor Kitchen or even Poolside. When the sun goes down gather around you outdoor movie theater and be the hit of the neighborhood.</p>
 
        <p>At Electronic Home we offer outdoor TVs from Seura and Sunbrite, movie screens and glass from Stewart, outdoor TV lifts and innovative rolling weatherproof media carts from MediaLiftTV and Nexus 21.</p>
      </div>
    </div> <!-- container -->
  </section>
</div>
