footer
  #footer
    .row
      .columns.medium-6
        #footer-links
          a(href="/") 
            img(src='/images/logo.png', width='106', height='23', alt='Electronic Home')
            ul.inline-list
              li
                a(href="/legal") Legal
              li
                a(href="/privacy") Privacy
              li
                a(href="/company#history") History
              li
                a(href="/company#media_and_press") Media/Press
              li
                a(href="company#email_list") Email List
              li
                a(href="company#employment") Employment

      .columns.medium-6
        ul.vcard
          li Electronic Home
          li.street-address 2870 Peachtree Rd NW # 835
          li <span class="locality">Atlanta</span>, <span class="state">GA</span> <span class="zip">30305</span>
          li.email
            a(href="mailto:info@hometheaterdesigns.com") info@hometheaterdesigns.com
          li.tel
            abbr(title="404-2310504")
              a(href="tel:4042310504") 404-231-0504

script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation.min.js')
script
  $(document).foundation();
