.sticky
  nav.top-bar(data-topbar='true', data-options='stick_on: large')
    ul.title-area
      li.name
        h1
          a(href='/') Electronic Home
 
      li.toggle-topbar.menu-icon
        a(href='#')
          span Menu
 
    section.top-bar-section
      ul.left
        a(href='/home_theaters.html')
        li.has-dropdown.not-click
          a(href='/home_theaters.html') Home Theaters
          ul.dropdown
            li
              a(href='/home_theaters.html#design_services') Design Services
            li
              a(href='/home_theaters.html#turn-key_build-out') Turn-Key Buildout
            li
              a(href='/home_theaters.html#theater_decor') Theater Decor
            li
              a(href='/home_theaters.html#electronics') Electronics
            li
              a(href='/home_theaters.html#complete_room_packages') Complete Room Packages
        li.has-dropdown.not-click
          a(href='/whole_house_audio') Whole House Video
          ul.dropdown
            li
              a(href='/video_distribution') Video Distribution
            li
              a(href='/whole_house_audio') Whole House Audio
        li.has-dropdown.not-click
          a(href='/lighting_control') Lighting &amp; Shades         
          ul.dropdown
            li
              a(href='/lighting_control') Lighting Control
            li
              a(href='/interior_and_exterior_LED_lighting') Interior & Exterior LED Lighting
            li
              a(href='/shading_systems') Shading Systems
        li.has-dropdown.not-click
          a(href='/solutions') Solutions
          ul.dropdown
            li
              a(href='/home_monitoring_and_automation') Home Monitoring & Automation
            li
              a(href='/home_networking') Home Networking
        li.has-dropdown.not-click
          a(href='/gallery') Photo Gallery
          ul.dropdown
            li
              a(href='/gallery/home_theater') Home Theaters
            li
              a(href='/gallery/media_rooms') Media Rooms
            li
              a(href='/gallery/outdoor_areas') Outdoor Areas
            li
              a(href='/gallery/other_rooms') Other Rooms
