html
  head
    link(rel='stylesheet', href='/styles/foundation.css')
    link(rel='stylesheet', href='/styles/scott.css')
    title Electronic Home

  .row
    .columns
      #scott
        a#home_monitoring_and_automation
        h2 Home Monitoring & Automation: Controlling Your Home With Ease
        
        h3 We create luxurious home control systems from:
        ul
          li Crestron
          li Control Envy
          li Control 4
          li RTI

        p  We also offer basic automation from LockState and NEST that can be integrated into a more complex system as your needs grow and expand.

        p Our systems integrate software into easy to use, transportable hand-held or wall-mounted touch screens 43. Smartphones or tablets can control these major features both in and outside the home:
        ul
          li Climate control
          li Communications
          li Door locks
          li Entertainment systems
          li Lighting control
          li Pool/spa systems
          li Security
          li Window shades/drapery

        p Worried about a home that is too high-tech? Don't be. Electronic Home designs and installs the most sophisticated home control systems available. We do what the others simply can't. Our systems are easy to use and we design them in a way that the major functions are available even if a system failure occurred. Electronic Home designs and installs the most sophisticated yet user friendly home control systems available on the market.

        h2 Who We Support
        p Control Envy, Control4, Crestron and RTI create quality systems that are the basis of what we customize for homeowners 29. We currently offer the best integrated systems on the market. Most of the other systems are based on older products with added modules. Control4, Crestron and RTI were designed as an integrated system from the ground up and have shared their technology through industry partner programs. This has led to the most capable and cohesive systems available.

        h2 Features of Home Automation
        p These systems aren’t simply lighting control systems 43. These systems can integrate lighting control, entertainment systems, climate control, window shade / drapery, pool/spa systems, security, door locks and communications all in one, easy to use wall-mounted or handheld touch panel. 

        p For example, selecting "Goodnight" from a keypad could: lock the doors, turn off the audio system, turn off certain lights while turning others on for safety, set back the HVAC system for sleeping, and arm the security system. It can even be programmed so that when pressing the button by the bed, a path of dimmed lights lead the way to the bathroom, kitchen and children's room. When morning comes around, the same button could welcome listeners with the news and traffic.

        p Also keep in mind that home automation is not just for your primary residence. In fact, it can simplify your life if you have a vacation home that others will be using. You can remotely allow guests, a realtor, leasing agent or maintenance subcontractors access to your home either as a on-time or scheduled event. You can easily monitor and/or control your lighting, HVAC and other energy items saving you time and peace of mind.

        h2 NEST Protect
        p Last, but not least, every home should have some basic automation; not for convenience, but for safety 41. Old fashioned smoke detectors simply beep when there is an issue, leaving you questioning what is wrong if you hear the alarm at all. NEST Protect offers a more modern solution by letting you know the problem in plain English (or French, Spanish, etc.) alerting you to the TYPE of problem (smoke, fire or CO (Carbon Monoxide)and WHERE the problem is. All of your NEST Protect detectors are interconnected throughout your home so that if one on the far end of the house detects an issue, you are notified throughout your home. NEST Protect can also give you a Heads-Up alert when the smoke or carbon monoxide levels are just beginning to rise so you get an early warning. NEST Protect talks to NEST Thermostats and will turn off your HVAC blower so that it doesn't distribute poisonous gases throughout your home. NEST Protect offers a modern approach to home protection with unmatched safety features and at a price everyone can afford. Call Electronic Home and put your mind at ease with a  professional installation and setup.

        p We have added a few videos that show some of the possibilities of a Home Control System. Each have been supplied by their manufacturer. Enjoy!

        p Also keep in mind that home automation is not just for your primary residence 21. In fact, it can simplify your life if you have a vacation home that others will be using. You can remotely allow guests, a realtor, leasing agent or maintenance subcontractors access to your home as a one-time or a scheduled event. You can easily monitor and/or control your lighting, HVAC and other energy items saving you time and peace of mind! Our systems and experience provide our clients with unlimited possibilities 50.

        h2 Call Electronic Home today and start easily monitoring the home and family. 

        h3 We have added a few videos that show some of the possibilities of a Home Control System. Each have been supplied by their manufacturer. Enjoy!

        <iframe width="560" height="315" src="http://www.youtube.com/embed/n66Jq0Nw9io" frameborder="0" allowfullscreen></iframe>

        <iframe width="560" height="315" src="http://www.youtube.com/embed/TeS0tBLtI-k" frameborder="0" allowfullscreen></iframe>

        <iframe width="560" height="315" src="//www.youtube.com/embed/L8TkhHgkBsg" frameborder="0" allowfullscreen></iframe>

        <iframe width="560" height="315" src="//www.youtube.com/embed/5thQRIX3Rio" frameborder="0" allowfullscreen></iframe>
