html
  head
    link(rel='stylesheet', href='/styles/foundation.css')
    link(rel='stylesheet', href='/styles/scott.css')
    title Electronic Home

    include _topbar.jade

  body

  .odd
    .row
      .columns   
        #odd  
          h2 Home Theaters: Better Than The Box Office
        
          p Electronic Home offers home theater consultation, design, turn-key build-out, complete theater decor and accessories, quality electronics and installation. We have systems that fit almost any budget from top brands such as Meridian, Runco, Stewart Filmscreen, Bay Audio, Focal, JL Audio, Paradigm, Anthem, Bryston, Integra, ATI & Sonos.
        
          p Home theaters are one of the most popular additions to today's homes. The term "home theater" means many different things to different individuals. Some feel that if a big screen projection TV is not used, then it is not a home theater. Others feel that any TV connected to a stereo is a home theater. We believe that a home theater allows you to be a participant instead of a viewer by experiencing a movie at its fullest--without having to leave home.
          
          hr

          h1 If you are looking for a company that understands how to create the best home theater experience your money can buy, then look no further! 

          p

          hr

          p EH specializes in turning home theater dreams into reality. We have been asked for design and installation assistance across the USA and have succeeded with many "difficult" installations.

  .even
    .row
      .columns
        a#design_services
        #even  
          h2 Design Services

          p Many companies believe "design services" are simply picking out colors and seating. A properly designed home theater involves much, much more. The desired result along with the room's dimensions, location in the home, construction materials and techniques are just the beginning of the process. Proper seating distances, sight lines, acoustics, and even the equipment choices are very much a part of a well-designed theater. Each of these interact with each other and need equal consideration to come up with the final design. An easy analogy is buying tires for your car. The desired ride, handling performance, tread life, wheel size, offset, and fender clearance all play equal parts in purchasing the correct tire.

          p For those seeking the best, we do not subscribe to standard "cookie cutter" theater designs since few rooms are identical. We use computer modeling combined with our real-life knowledge and experience to create the best environment for your room and budget. Our designer will work with you and/or your designer to ensure not only a wonderful looking theater, but one that considers the proper seating distances, acoustics, and imaging considerations.

          p For those whose budget doesn't allow for an intense and detailed design, our basic design services draw on our knowledge and expertise to provide a much better bang for the buck. Proper planning is the key to success in any project.
  .odd
    .row
      .columns   
        a#electronics
        #odd  
          h2 Turn-key Build-out

          p Many home theaters are being added to homes as part of a remodeling project or basement (terrace level for you designers!) build-out. If you have a contractor you are comfortable with, we will gladly work with them and coordinate our efforts to smoothly complete your project. If you don't have a contractor, let Electronic Home bid out the entire project from framing to that first batch of popcorn! We have the personnel and quality subcontractors that allow us to do what our competitors simply can't.

          p Many homeowners have discovered that they can't find someone to do smaller projects such as single room remodels or expansions. Still more have found that they just can't find someone that they are comfortable with to come and go in their home while they are living in it; this is a completely different game than new construction where these concerns are negligible.

          p At Electronic Home we are different than most other subcontractors. We take great care in working in your home and treat it as if it were our own. Sure, we have insurance like SOME of the others, but it goes way beyond insurance. It is an attitude and professionalism that creates absolute trust. Most of our clients have offered us keys and alarm codes to not only complete work, but to allow us to show it off to others. We rarely impose, but it is nice to know we can!

          p Are you looking for the easiest way to get the job done? Then give us a call and schedule an appointment. The initial consultation is free!
  .even
    .row
      .columns       
        a#theater_decor
        #even
          h2 Theater Decor and Accessories

          p This is part of the fun stuff! Personalizing a home theater allows you to become creative if you choose. Not creative? Then let our theater designer light a fire in your mind and you will be surprised what comes up!

          p Theaters can be clean and simple or as flashy as any Las Vegas casino. You decide. Of course we offer all the standard theater decor items such as carpeting, seating, columns, curtains, murals and faux finishes, but we also offer much more. Ever considered a fiber optic star lit ceiling? Or a custom-built ticket booth, candy counter or marquee? We have even incorporated antique entrance doors, sculptures, mounted game and movie collectables to create theater themes. We offer a full line of Cinema related accessories too, including Movie Posters and Frames, Movie Reel Art and Furniture, Popcorn Machines, Ropes and Stanchions, you name it and we will help you acquire it! We offer it all.
  .odd
    .row
      .columns   
        a#electronics
        #odd  
          h2 Theater Electronics Packages - Starting @ $10,000.00 Installed!

          p Try picking up just about any magazine and you will undoubtedly find an article or ad that boasts of some new technology that you just can't live without. How can you separate the facts from fantasy? YOU don't have to! We spend countless hours reading and investigating the new products to separate the hype from reality. From there we check into the companies behind the technologies that seem to make sense and make a decision if it is a product line that we should carry.

          p Electronic Home has earned the reputation and respect that allows us to pretty much pick and choose the brands we carry. We do not take on any product lines that don't make sense for our customers or our business plan. We not only consider the hot product, but the entire line and how they are serviced and supported. We also look at how taking on a brand will affect our existing products and our manufacturer relationships. Once we pick a brand, we are committed to making it work. This creates a bond that allows us to reach the ultimate goal...to satisfy our customers!

          p We are totally committed to supporting our manufacturers and representing them in a professional manner. This relationship includes honoring our dealer agreements including geographic restrictions. If you are not located in Georgia or a state surrounding it and have never visited our showroom, we are probably not authorized to solicit or sell products to you. If you still have an interest in our products and installation skills and are located outside this area, we will handle each situation on an individual basis after contacting the appropriate manufacturers. If you travel to Atlanta, please call and schedule a visit to our showroom and we will be glad to either develop a relationship or refer you to a qualified local dealer.
  .even
    .row
      .columns      
        a#complete_room_packages
        #even     
          h2 Complete Room Packages - Starting @ $35,000.00 Installed!

          p Through the years we have been asked "How much does a Home Theater cost?" and the response has always been "It depends." As discussed in the Design Services section above, without knowing specifics we felt we just couldn't say as there are so many questions to answer and decisions that need to be made.

          p Being engineers, we thought every customer would want to be actively involved, however, we found many clients either didn't want to know or have the time to learn all of the details; they simply cared about the end results. For those clients, we have streamlined the process by developing packages to choose from and offering options/upgrades and allowances to make it "theirs", much like the typical car buying process.

          p Each room package is a complete, all-inclusive package. You or your contractor prepare the room to our specifications and we do the rest. We can recommend a contractor if you don't have one.

          p Our price is real and reasonable....just add permits, sales tax and travel as applicable. There are no hidden charges or items left out that we later put the hard sell on you to buy. As you go from one package to the next, either up or down in price, you will find that we don't leave things out; we simply go up and down in models.

          p Each room package includes basic room layout drawing(s), acoustical treatments, Power Conditioning, Equipment Rack, a quality Surround Sound System, a quality Video Projection System or large Flat Panel Display, a movie player (a Bluray Player OR a Kaleidescape Movie Server), all A/V Cables (including for your satellite/CATV DVR), one of our standardized Control Systems with battery backup, Club Chair Seating, and, of course, our quality and knowledgeable installation. All but our Aluminum package includes a Lighting Control System and allowances for lighting fixtures, floor and wall coverings. Each allowance can be upgraded or credited depending on your desires and the final design. 

  .row
    #flipbook
      .columns.medium-6
       iframe src= "http://files.flipsnack.com/iframe/embed.html?hash=fdujazrg&wmode=window&bgcolor=EEEEEE&t=13858625511381029645" 
      
      .columns.medium-6  
        iframe src="http://files.flipsnack.com/iframe/embed.html?hash=f7csrffm&wmode=window&bgcolor=EEEEEE&t=13858714761364850208" 
          
  .row
    #flipbook
      .columns.medium-6      
        iframe src="http://files.flipsnack.com/iframe/embed.html?hash=fume7ql9&wmode=window&bgcolor=EEEEEE&t=13858709111337284497" 
          
      .columns.medium-6     
        iframe src="http://files.flipsnack.com/iframe/embed.html?hash=fu9ydfl9&wmode=window&bgcolor=EEEEEE&t=13810156651340594192" 
            
  .row
    #flipbook
      .columns.medium-6       
        iframe src="http://files.flipsnack.com/iframe/embed.html?hash=fzpfrs5p&wmode=window&bgcolor=EEEEEE&t=13810138861337284918" 
            
      .columns.medium-6       
        iframe src="http://files.flipsnack.com/iframe/embed.html?hash=fumqxya3&wmode=window&bgcolor=EEEEEE&t=13810149861337284996" 
              

