html
  head
    meta(content="width=device-width, initial-scale=1" name="viewport")

    title Electronic Home

    link(rel="stylesheet" type="text/gss" href="layout.gss")

    script(src="https://s3-us-west-2.amazonaws.com/cdn.thegrid.io/gss/v2.0.0/v2.0.0/gss.js")  
    script.
      window.engine = new GSS(document);
  body
    // h1 Electronic Home: Home Theater Designs
    // h2 Based in Atlanta, GA

    #background(style='position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-color: red;')

    img#cassowaryImg(src='http://gridstylesheets.org/assets/images/Intro/CassowaryBird.png')

    // p We combine aesthetics with science.
