html
  head
    // link(rel="stylesheet" type="text/gss-ast" href="gss.json")
    style(type='text/gss').
      #logoImg[height] == 400;
      #logoImg[width] == #logoImg[height] * 409/450;
      #logoImg[center] == ::window[center];
      h1[size] == h1[intrinsic-size];
      p[size] == p[intrinsic-size];
      @v (h1)-30-(#logoImg)-20-(p);
      h1[center-x] == p[center-x] == #logoImg[center-x];

    script(src="https://s3-us-west-2.amazonaws.com/cdn.thegrid.io/gss/v2.0.0/v2.0.0/gss.js")  
    script(src="./test.js")
    script.
      window.engine = new GSS(document);
  body
    h1 Electronic Home: Home Theater Designs
    h2 Based in Atlanta, GA

    p We combine aesthetics with science and other things.

    img#logoImg(src='../images/logo-3d.svg')

    a(href="javascript:void(0)" onclick="hello()") Click Me!
