html
  head
    link(rel='stylesheet', href='/styles/foundation.css')
    link(rel='stylesheet', href='/styles/scott.css')
    title Electronic Home

  header#hero-home.hero
    .row
      .columns
        .middle
          #logo3d
            img(src='/images/logo-3d.svg', width='400', height='200', alt='Electronic Home')
          #headline
            h1 Home Cinema Experts
            a(href='#', text='Contact')

  include _topbar.jade

  .odd
    .row
      .columns
        #scott
          #odd
            h2 We Combine Aesthetics with Science
            p Our home theaters look amazing while conforming to correct acoustic principles.
            p Our home control systems simplify your life, add convenience and security and can help you save on your utility bills! We offer all levels of home control systems that are fun for tech heads but easy for kids to use adeptly.
            p We also offer Enterprise Level Home Networking, motorized shades and drapes and have recently added alternate energy solutions that can curb your utility bills!

            p Simply put, we sell quality products, install them properly, and maintain them. Equally important is that we have been doing this for over 23 years and take steps to protect your investment should things change.
            
  .even
    .row
      .columns.medium-6
        #scott
          #even
            h3 We are unique in that we       
            ul
              li Listen to our client's needs.
              li Work neatly, precisely, and quickly.
              li Never stop serving our clients.
      .columns.medium-6
  .odd            
    .row
      .columns
        #scott
          #odd
            p Ask other EH customers and call our manufacturers. You will find that we are second to none.
            p We are THX and ISF certified. We are a state-certified low voltage contractor and carry liability and workmen's comp insurance.

  include _footer.jade