html
  head
    title Electronic Home

    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/normalize.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.min.css')
    link(rel='stylesheet', href='/styles/scott.css')

    script(src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js')

  header#hero-home.hero
    .row
      .columns
        .middle
          #logo3d
            img(src='/images/logo-3d.svg', width='400', height='200', alt='Electronic Home')
          #headline
            h1 Home Theater Experts
            a(href='#', text='Contact')

  include _topbar.jade

  .odd
    .row
      .columns.large-4
        img(src='/images/theater-azure.png')
      .columns.large-8
        p(style='font-size: 18pt; line-spacing: 150%;') Electronic Home offers home theater consultation, design, turn-key build-out, complete theater decor and accessories, quality electronics and installation.
        p(style='font-size: 18pt; line-spacing: 150%;') We have systems that fit almost any budget from top brands such as Meridian, Runco, Stewart Filmscreen, Bay Audio, Focal, JL Audio, Paradigm, Anthem, Bryston, Integra, ATI & Sonos.

  .even
    .row
      .columns.medium-6
        #scott
          #even
            h3 We are unique in that we       
            ul
              li Listen to our client's needs.
              li Work neatly, precisely, and quickly.
              li Never stop serving our clients.
      .columns.medium-6
  .odd            
    .row
      .columns
        #scott
          #odd
            p Ask other EH customers and call our manufacturers. You will find that we are second to none.
            p We are THX and ISF certified. We are a state-certified low voltage contractor and carry liability and workmen's comp insurance.

  include _footer.jade