link(rel="stylesheet" type="text/gss-ast" href="gss/gss.json")

html
  head
    script(src="./test.js")
  body
    h1 Electronic Home: Home Theater Designs
    h2 Based in Atlanta, GA

    p We combine aesthetics with science.

    a(href="javascript:void(0)" onclick="hello()") Click Me!
