html
  head
    link(rel='stylesheet', href='/styles/foundation.css')
    link(rel='stylesheet', href='/styles/scott.css')
    title Electronic Home

  .row
    .columns
      #scott
        h2 Solving Problems With Technology

        h3 Do you constantly lose your internet connection and have to reset your CATV/DSL modem?
        p When you reset your DSL modem you often have to go down to the basement, power down all of your network equipment, wait a while and then power everything back up in the correct sequence. If that doesn’t work, you have to do it all over again.
        p We not only can help shield you from these unproductive and frustrating times, but can automate the process so you never have an idea that something was wrong. Our system will monitor your internet connection and automatically perform the necessary steps to correct it. We can then provide your ISP (Internet Service Provider) with details to help identify issues.

        h3 Do you want to be cautioned when someone is walking towards your house?
        p We offer driveway sensor systems that can let you know when someone is walking up the driveway 11. We also have outdoor motion detectors that can let you know if someone on foot is approaching. This can be a simple audible alert, tied into a CCTV (Closed Circuit TV) system for video confirmation and we can even send a text and email alert. These can be stand alone systems or integrated into most alarm and automation systems.

        h3 Do you need to track a vehicle?
        p We offer a variety of systems that provide real-time feedback 30. Unlike LoJack, you have instant access to the location information via the internet from your computer or cell phone.

        h3 Do you have a residence that requires power?
        p Do you have a need for power in a location where bringing in a utility line is simply not practical? 35 We offer state-of-the-art Solar Panels for your mountain or lake home, cabin, workshop, playhouse, boat dock or any other structure. Our systems eliminate the issues that plague most of the other systems. We can provide full system consultation, design and installation 22.

        h3 These are just a few ideas of what Electronic Home can do for you 50. Talk to us today about anything that bugs you and we’ll see what we can do.
        