<section class="jumbotron hero hero-control d-flex">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 text-md-left">
        <h1 class="mb-3">Home Control</h1>
        <p class="lead mb-0">Control your lighting, shades, HVAC, security systems, swimming pools, steam rooms, wine cellars, and more.</p>
      </div>
    </div>
  </div>
</section>
<section class="section-padding">
  <div class="container">
    <h2 class="small-h2 mb-3">Home Automation</h2>
    <h3 class="h5">Sophisticated Home Automation</h3>
    <p>When it comes to home automation systems, the sky and your budget are truly your only limits. Electronic Home designs, installs and services systems that can be as sophisticated as you want, yet user friendly.</p>

    <p>We can fully integrate your home A/V, lighting, doors, window treatments, HVAC, swimming pool, spa, wine cellar, irrigation system, dog runs....you name it and we can make it happen!</p>
  </div>
</section>
<section class="section-dark">
  <div class="container-full">
    <img class="img-fluid" src="/assets/images/control-envy-dashboard-app.png" alt="Control Envy dashboard and control app screen shots.">
    <div class="ce-sm hidden-md-down"><img class="img-fluid" src="/assets/logos/control-envy.svg"></div>
  </div>
</section>
<section id="support" class="section-padding section-white">
  <div class="container">
    <div>
      <div class="mb-3">
        <h2 class="small-h2">Proactive Support</h2>
      </div>
      <p>Our Cloud support system allows us to offer a level of service to our customers that often makes us aware of problems before they become an inconvenience. Simple examples include knowing when remote control batteries are running low, or when a piece of equipment isn't responding on the network.</p>
      <p>The system automatically notifies us (or you) of issues as they arise, and provides us with the tools and informed troubleshooting to correct them.</p>
      <p>Especially relevant to our customers with multiple homes and estate properties. The system is capable of monitoring and storing data history for almost any device you can imagine, for use in applications like mechanical room and energy management.</p>
    </div>  
  </div>
</section>
<section id="support" class="section-padding section-gray">
  <div class="container">
    <div>
      <div class="mb-3">
        <h2 class="small-h2 text-center">Control Systems</h2>
      </div>
      <div class="row partner-logos">
        <div class="col-6 col-md-3">
            <a href="https://www.control4.com/">
              <img class="img-fluid" src="/assets/logos/Control4.svg">
            </a> 
            <a href="https://cloud.controlenvy.com/">
              <img class="img-fluid" src="/assets/logos/control-envy.svg">
            </a>
         </div>
          <div class="col-6 col-md-3">
            <a href="https://lutron.com/">
              <img class="img-fluid" src="/assets/logos/Lutron.svg">
            </a>
            <a href="http://www.ovrc.com/">
              <img class="img-fluid" src="/assets/logos/ovrc.svg">
            </a>
          </div>
          <div class="col-6 col-md-3">
            <a href="https://www.elanhomesystems.com/">
              <img class="img-fluid" src="/assets/logos/elan.svg">
            </a>
            <a href="https://www.crestron.com/">
              <img class="img-fluid" src="/assets/logos/Crestron.svg" alt="Crestron"/>
            </a>
          </div>
          <div class="col-6 col-md-3">
            <a href="https://www.ametekesp.com/surgex">
              <img class="img-fluid" src="/assets/logos/SurgeX.svg">
            </a>
            <a href="https://www.iportproducts.com/">
              <img class="img-fluid" src="/assets/logos/iPort.svg">
            </a>
          </div>
      </div>        
    </div>
  </div>
</section>

