<div>
  <div class="landing-full d-flex">
    <section class="jumbotron hero hero-homepage d-flex">
      <div class="row mt-5 mt-md-0">
        <div class="col-12 col-sm-6 text-md-left anniversary">
          <img src="/assets/33-blue.svg" alt="29th Anniversary"/>
        </div>
        <div class="col-12 col-sm-6 d-flex align-items-center text-center text-sm-left">
          <div>
            <h1>Electronic Home, Inc.</h1>
            <p class="lead">Atlanta's Premier Dealer of High-end Audio &amp; Video</p>
            <a class="btn btn-primary btn-lg hidden-sm-down" href="/contact" role="button">Visit Our Showroom</a>
            <a class="btn btn-primary btn-lg hidden-md-up" href="tel:+14042310504">404-231-0504</a>
          </div>
        </div>
      </div>
    </section>
    <section id="intro-bar">
      <div class="container">
        <div class="row">
          <div class="col-12 hidden-sm-down col-md-4 box box1 d-flex">
            <address>
              Electronic Home, Inc.<br>
              Located in <a href="http://adacatlanta.com/showrooms/20" target="_blank">ADAC West</a><br>
              349 Peachtree Hills Ave NE Suite A7<br>
              Atlanta, GA 30305
            </address>  
          </div>
          <div class="col-12 col-md-4 box box2">
            <div class="map-overlay" onClick="style.pointerEvents='none'"></div>
            <style>.embed-container { padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13259.3061856928!2d-84.375569!3d33.816789!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9e198cce2c5053bc!2sElectronic+Home%2C+Inc.!5e0!3m2!1sen!2sus!4v1484427139331' width='600' height='450' frameborder='0' style='border:0' allowfullscreen></iframe></div>
          </div>
          <div class="col-12 hidden-sm-down col-md-4 box box3 d-flex">
            <div>
              Mon-Fri: 9-5<br>
              Sat-Sun: Closed<br>
              <a href="mailto:info@hometheaterdesigns.com">info@hometheaterdesigns.com</a><br>
              <a href="tel:+14042310504">404-231-0504</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <section id="posters" class="section-padding">
    <div class="container">
      <h2 class="small-h2">Explore</h2>
      <div class="row">
        <div class="col-12 col-md-4 cinema">
          <div class="overflow">
            <a href="/home-cinema">
              <img class="img-cinema img-fluid" src="/assets/images/cinema.jpg"><div class="label">Cinema</div>
            </a>
          </div>
        </div>
        <div class="col-12 col-md-4 music">
          <div class="overflow">
            <a href="/music">
              <img class="img-music img-fluid" src="/assets/images/music.jpg"><div class="label">Music</div>
            </a>
          </div>
        </div>
        <div class="col-12 col-md-4 control">
          <div class="overflow">
            <a href="/control">
              <img class="img-control img-fluid" src="/assets/images/control.jpg"><div class="label">Control</div>
            </a>
          </div>
        </div>
        <div class="col-12 col-md-4 outdoor">
          <div class="overflow">
            <a href="/outdoor">
              <img class="img-outdoor img-fluid" src="/assets/images/outdoor.jpg"><div class="label">Outdoor</div>
            </a>
          </div>
        </div>
        <div class="col-12 col-md-4 networking">
          <div class="overflow">
            <a href="/networking">
              <img class="img-networking img-fluid" src="/assets/images/networking.jpg"><div class="label">Networking</div>
            </a>
          </div>
        </div>
        <div class="col-12 col-md-4 service">
          <div class="overflow">
            <a href="/control#support">
              <img class="img-service img-fluid" src="/assets/images/service.jpg"><div class="label">Service</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="story" class="section-padding section-gray">
    <div class="container mb-4">
      <h2 class="small-h2">Story</h2>
      <div>
        <img id="img-story" class="img-fluid pull-left mr-md-4 mb-3 mb-md-0" src="/assets/images/terry-randy.jpg" alt="Randy Massey, founder of Electronic Home, and his wife Terry." />
        <h3 class="h5">Randy and Terry Massey founded Electronic Home in 1991.</h3>
        <p><strong><em>"As pioneers of this industry, our passion has been in continually raising the standards for excellence in home theater and control systems."</em></strong></p>

        <p>Randy has a long and distinguished career in the residential market and is a recognized industry leader known for service, integrity, and exemplary installations. His business models and strategies have been emulated by integrators across the US, but his passion for cinema and high-performance audio systems keep him actively involved with Electronic Home projects. With 20 years experience as a Hewlett Packard "hot site" computer engineer, Randy brings unparalleled knowledge to system design and support operations, in addition to a formal background in electrical engineering.</p>
      </div>
      <div class="mt-4">
        <p>Terry has an extensive background in art and design. Since co-founding Electronic Home in 1991 with a background in business, she has used her artistic talents to seamlessly integrate electronics into luxury settings, providing the desired functionality and ambiance to the client. She creates world class living environments as well as home theaters, balancing function with beauty and comfort. Knowing that she creates atmospheres that clients are incredibly passionate about is her ongoing inspiration. In fact, she returned to school to pursue a study in art history. Terry's work has been featured in and on the cover of numerous publications.</p>
      </div>
    </div>
  </section>
  <section>
    <div id="cover" class="container-fluid px-0 py-4">
      <div class="film-strip"></div>
      <div id="avi" class="container">
        <div class="row m-0">
          <div class="col-12 col-md-7 d-flex align-items-center">
            <div class="text-center text-md-left mb-5 mb-md-0">
              <h3 class="display-4 mb-4">Feels like yesterday.</h3>
              <p class="lead mb-0"> Electronic Home's "Lion King Theater" featured on the cover of AVI Magazine in July, 1997.</p>
            </div>
          </div>
          <div class="col-12 col-md-5 text-center">
            <img class="img-fluid mt-3 mt-md-0" src="/assets/images/julyavi.jpg" alt="Electronic Home Lion King Theater featured on the July 1997 cover of AVI Magazine." />
          </div>
        </div>
      </div>
      <div class="film-strip"></div>
    </div>
  </section>
  <section class="section-padding reviews">
    <div class="container">
      <h2 class="small-h2">Client Reviews</h2>
      <div class="row">
        <div class="col-12 col-lg-4 mb-5 mb-md-0">
          <p>I have done business with the Electronic Home team for 12 years. This includes three house projects, two home theaters, 2 home automation systems and more, If you need high level expertise and experience on high end home systems you can be assured that a thorough understanding of your needs and wants will be determined and then met with a system recommendation.</p>
          <p class="name mt-2">- George D., Acworth GA</p>
        </div>
        <div class="col-12 col-lg-4 mb-5 mb-md-0">
          <p>Electronic Home provided all the equipment for and installed my home theater when we first put it in 13 years ago. They have been the only company we have used for all our maintenance needs since then. They are very responsive, extremely qualified and competent, and very pleasant to deal with. I have even given them access to my home when no one is here. They have earned a very high level of trust from my wife and I.</p>
          <p class="name mt-2">- James A., Atlanta GA</p>
        </div>
        <div class="col-12 col-lg-4 mb-5 mb-md-0">
          <p>We have used Electronic Home for two complete home automation systems and two high-end home theaters. They are great to work with throughout the design and installation process. Randy and his team really listen, do beautiful work and the results are extraordinary. The after installation support is very responsive and we love working with them.</p>
          <p class="name mt-2">- Lee W., Atlanta GA</p>
        </div>
      </div>
    </div>
  </section>
  <section class="section-padding section-gray">
    <div class="container">
      <h2 class="small-h2 text-center">Brand Partners</h2>
      <div class="row partner-logos">
        <div class="col-6 col-md-3">
          <a href="https://www.crestron.com/">
            <img class="img-fluid" src="/assets/logos/Crestron.svg" alt="Crestron"/>
          </a>
          <a href="https://www.meridian-audio.com/">
            <img class="img-fluid" src="/assets/logos/Meridian.svg" alt="Meridian Audio"/>
          </a>
          <a href="http://www.brownjordan.com/">
            <img class="img-fluid" src="/assets/logos/Brown-Jordan.svg" alt="Brown Jordan Outdoor Furniture"/>
          </a>
          <a href="https://displaytechnologies.co.uk">
          <img class="img-fluid" src="/assets/logos/display-technologies.svg" alt="Display Technologies"/>
        </a>
        <a href="https://www.elanhomesystems.com">
          <img class="img-fluid" src="/assets/logos/elan.svg" alt="Elan Home Systems"/>
        </a>
        <a href="https://www.seura.com/">
          <img class="img-fluid" src="/assets/logos/Seura.svg" alt="Seura"/>
        </a>
        <a href="https://www.screeninnovations.com/">
          <img class="img-fluid" src="/assets/logos/Screen-Innovations.svg" alt="Screen Innovations"/>
        </a>
        <a href="https://www.kaleidescape.com/">
          <img class="img-fluid" src="/assets/logos/Kaleidescape.svg" alt="Kaleidescape"/>
        </a>
        <a href="https://www.sealoctvs.com/">
          <img class="img-fluid" src="/assets/logos/Sealoc.svg" alt="Sealoc"/>
        </a>
        <a href="https://www.netgate.com/">
          <img class="img-fluid" src="/assets/logos/pf-sense.svg" alt="Pf-Sense"/>
        </a>
        <a href="https://www.danver.com/">
          <img class="img-fluid" src="/assets/logos/Danver.svg" alt="Danver"/>
        </a>
        <a href="https://www.middleatlantic.com/">
          <img class="img-fluid" src="/assets/logos/Middle-Atlantic.svg" alt="Middle Atlantic"/>
        </a>

        </div>
        <div class="col-6 col-md-3">
          <a href="https://controlenvy.com/">
            <img class="img-fluid" src="/assets/logos/control-envy.svg" alt="Control Envy"/>
          </a>
          <a href="http://www.digitalprojection.com/">
            <img class="img-fluid" src="/assets/logos/Digital-Projection.svg" alt="Digital Projection"/>
          </a>
          <a href="http://www.sonance.com/">
            <img class="img-fluid" src="/assets/logos/Sonance.svg" alt="Sonance"/>
          </a>
          <a href="http://www.cineak.com">
          <img class="img-fluid" src="/assets/logos/cineak.svg" alt="Cineak"/>
        </a>
        <a href="http://www.fortresseating.com/">
          <img class="img-fluid" src="/assets/logos/fortress-seating.svg" alt="Fortress Seating"/>
        </a>
        <a href="http://www.audiocontrol.com/">
          <img class="img-fluid" src="/assets/logos/Audio-Control.svg" alt="Audio Control"/>
        </a>
        <a href="http://www.jlaudio.com/">
          <img class="img-fluid" src="/assets/logos/JL-Audio.svg" alt="JL Audio"/>
        </a>
        <a href="http://www.araknisnetworks.com/">
          <img class="img-fluid" src="/assets/logos/Araknis.svg" alt="Araknis"/>
        </a>
        <a href="https://www.environmentallights.com/">
          <img class="img-fluid" src="/assets/logos/Environmental-Lights.svg" alt="Environmental Lights"/>
        </a>
        <a href="https://www.jamesloudspeaker.com/">
          <img class="img-fluid" src="/assets/logos/James-Loudspeaker.svg" alt="James Loudspeaker"/>
        </a>
        <a href="https://www.jaymar.ca/en/">
          <img class="img-fluid" src="/assets/logos/Jaymar.svg" alt="Jaymar"/>
        </a>
        <a href="https://www.svsound.com/">
          <img class="img-fluid" src="/assets/logos/SVS.svg" alt="SVS"/>
        </a>
        </div>
        <div class="col-6 col-md-3">
          <a href="https://www.control4.com/">
            <img class="img-fluid" src="/assets/logos/Control4.svg" alt="Control4"/>
          </a>
          <a href="http://www.mycinematech.com/">
            <img class="img-fluid" src="/assets/logos/CinemaTech.svg" alt="CinemaTech Home Theater Seating"/>
          </a>
          <a href="https://www.ruckuswireless.com/">
            <img class="img-fluid" src="/assets/logos/Ruckus.svg" alt="Ruckus Wireless"/>
          </a>
          <a href="http://ovrc.com">
            <img class="img-fluid" src="/assets/logos/ovrc.svg" alt="OvrC"/>
          </a>
          <a href="https://rayva.com">
            <img class="img-fluid" src="/assets/logos/ravya.svg" alt="Ravya"/>
          </a>
          <a href="https://www.anthemav.com/">
            <img class="img-fluid" src="/assets/logos/Anthem.svg" alt="Anthem"/>
          </a>
          <a href="https://www.sony.com/">
            <img class="img-fluid" src="/assets/logos/Sony.svg" alt="Sony"/>
          </a>
          <a href="https://www.roonlabs.com/">
            <img class="img-fluid" src="/assets/logos/Roon.svg" alt="Roon"/>
          </a>
          <a href="https://www.salamanderdesigns.com/">
            <img class="img-fluid" src="/assets/logos/Salamander.svg" alt="Salamander"/>
          </a>
          <a href="https://www.accessnetworks.com/">
            <img class="img-fluid" src="/assets/logos/Access-Networks.svg" alt="Access Networks"/>
          </a>
          <a href="https://www.episodespeakers.com/">
            <img class="img-fluid" src="/assets/logos/Episode.svg" alt="Episode"/>
          </a>
          <a href="https://www.ametekesp.com/surgex">
            <img class="img-fluid" src="/assets/logos/SurgeX.svg" alt="SurgeX"/>
          </a>
        </div>
        <div class="col-6 col-md-3">
          <a href="http://www.lutron.com/">
            <img class="img-fluid" src="/assets/logos/Lutron.svg" alt="Lutron Lighting Control"/>
          </a>
          <a href="https://www.focal.com/">
            <img class="img-fluid" src="/assets/logos/Focal.svg" alt="Focal"/>
          </a>
          <a href="http://www.sonos.com/">
            <img class="img-fluid" src="/assets/logos/Sonos.svg" alt="Sonos"/>
          </a>
          <a href="http://www.barco.com/">
            <img class="img-fluid" src="/assets/logos/barco-residential.svg" alt="Barco"/>
          </a>
          <a href="http://www.iportproducts.com/">
            <img class="img-fluid" src="/assets/logos/iPort.svg" alt="iPort"/>
          </a>
          <a href="https://www.stormaudio.com/">
            <img class="img-fluid" src="/assets/logos/Storm-Audio.svg" alt="Storm Audio"/>
          </a>
          <a href="https://www.futureautomation.net/">
            <img class="img-fluid" src="/assets/logos/Future-Automation.svg" alt="Future Automation"/>
          </a>
          <a href="https://www.paradigm.com/">
            <img class="img-fluid" src="/assets/logos/Paradigm.svg" alt="Paradigm"/>
          </a>
          <a href="https://www.coastalsource.com/">
            <img class="img-fluid" src="/assets/logos/Coastal-Source.svg" alt="Coastal Source"/>
          </a>
          <a href="https://www.bluesound.com/">
            <img class="img-fluid" src="/assets/logos/Bluesound.svg" alt="Bluesound"/>
          </a>
          <a href="https://www.stewartfilmscreen.com/en">
            <img class="img-fluid" src="/assets/logos/Stewart.svg" alt="Stewart Filmscreen"/>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
