#footer {
  color: #2b9aff;
  text-align: left;
  padding: 20px;
  background-color: #07151e;
  margin-top: 36px;
  padding-top: 72px;
  padding-bottom: 56px;
}
#footer p {
  font-size: smal;
}
#footer a:link {
  color: #1a5c99;
}
#footer a:visited {
  color: #1a5c99;
}
#footer ul.vcard {
  padding-left: 0px;
}
#scott {
  color: #fff;
  padding-top: 22px;
  padding-bottom: 0px;
}
#scott li {
  list-style-type: none;
  font-size: 21px;
}
#scott li:before {
  content: "✓";
  color: #2b9aff;
  padding-right: 8px;
}
#scott h2 {
  text-align: center;
  color: #68a6df;
  font-size: 28px;
  padding-bottom: 8px;
}
#scott h2 small {
  color: #68a6df;
}
#scott h3 {
  text-align: left;
  color: #68a6df;
  font-size: 24px;
  margin-left: 18px;
}
#scott iframe {
  border: 0px;
}
#photo_gallery iframe {
  width: 740px;
  height: 555px;
  border: 0px;
}
#flipbook iframe {
  width: 370px;
  height: 200px;
  border: 0px;
}
#footer_border iframe {
  border: 0px;
}
body {
  background: #092035;
}
.hero {
  background: #092035 url("/images/hero-bg-new.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  width: 100%;
  height: 100%;
}
.hero #headline {
  text-align: center;
}
.hero #headline h1 {
  color: #fff;
  font-size: 48px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.hero #logo3d {
  text-align: center;
  margin-top: 28%;
  margin-left: auto;
  margin-right: auto;
}
.vcard {
  border: 0;
}
.vcard li {
  color: #fff;
  margin-left: 40%;
}
.button {
  background-color: transparent;
  text-transform: uppercase;
  border: 4px solid #1a5c99;
  border-radius: 0px;
}
#contact-old {
  display: block;
  color: #006485;
  border-radius: 0px;
  border: 2px solid #4575a8;
  background-color: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 72px;
  height: 52px;
  width: 172px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  line-height: 46px;
}
.even {
  color: #fff;
  background: none repeat scroll 0 0;
  background-color: rgba(6,19,30,0.2);
  padding: 20px;
}
.even h1 {
  text-align: center;
  color: #2b9aff;
  font-size: 21px;
  font-style: italic;
}
.even h2 {
  text-align: center;
  color: #68a6df;
  font-size: 28px;
}
.even iframe {
  border: 0px;
}
.odd {
  color: #fff;
  background: none repeat scroll 0 0 transparent;
  padding: 20px;
}
.odd h1 {
  text-align: center;
  color: #2b9aff;
  font-size: 21px;
  font-style: italic;
}
.odd h2 {
  text-align: center;
  color: #68a6df;
  font-size: 28px;
}
.odd iframe {
  border: 0px;
}
hr {
  background: #68a6df;
  clear: both;
  float: none;
  width: 100%;
  height: 1px;
  margin: 0 0 1.4em;
  border: none;
}
.emblem {
  margin-left: 10px;
}
ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-left: -16%;
}
ul.img-list li {
  display: inline-block;
  height: 368px;
  margin: 0 1em 1em 0;
  position: relative;
  width: 550px;
}
ul.img-list li:hover span.text-content {
  opacity: 1;
}
span.text-content {
  background: rgba(0,0,0,0.5);
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: table;
  height: 368px;
  left: 0;
  position: absolute;
  top: 0;
  width: 550px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}
span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
