<section class="jumbotron hero hero-outdoor d-flex">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-7 text-md-left">
        <h1 class="mb-3">The Great Outdoors</h1>
        <p class="lead mb-0">We make technology disappear and elevate your outdoor experience with music, video, and lighting, as well as design and installation of custom kitchens and entertainment spaces.</p>
      </div>
    </div>
  </div>
</section>
<section class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-7">
        <h2 class="small-h2">Outdoor Audio</h2>

        <p>Quality outdoor audio has had many advances in recent years and now come in many styles and performance levels.</p>
 
        <p>Terra Speakers offers awesome sounding traditional outdoor box style speakers that can be mounted to your home/deck or placed on ground stakes throughout your landscaping. It offers in-ground subwoofers for those that want to crank it up and party and bollards with optional LED lighting for path or accent lighting. Lifetime warranty!</p>
 
        <p>Sonance also offers a variety of outdoor models including traditional outdoor box style, rocks and sub/sat systems that blend with outdoor lighing.</p>
 
        <p>Coastal Source not only makes the world's finest LED outdoor lighting, they also have matching speakers</p>
      </div>
      <div class="col-12 col-md-5 d-flex flex-column justify-content-center mt-4 mt-m4-0">
        <div class="photo-slider">
          <div class="slider-image">
            <div><img class="img-fluid" src="/assets/images/outdoor/ztjwi5id-980x2000.jpeg"/></div>
            <div><img class="img-fluid" src="/assets/images/outdoor/u8q1w4wj-980x2000.jpeg"/></div>
            <div><img class="img-fluid" src="/assets/images/outdoor/u9fv0q0u-980x2000.png"/></div>
            <div><img class="img-fluid" src="/assets/images/outdoor/u9ldqeqc-980x2000.jpeg"/></div>
            <div><img class="img-fluid" src="/assets/images/outdoor/uiazy2yp-980x2000.jpeg"/></div>
            <div><img class="img-fluid" src="/assets/images/outdoor/ujfv0q0u-980x2000.jpeg"/></div>
            <div><img class="img-fluid" src="/assets/images/outdoor/ukiblsl1-980x2000.jpeg"/></div>
            <div><img class="img-fluid" src="/assets/images/outdoor/un8ra0ah-980x2000.jpeg"/></div>
            <div><img class="img-fluid" src="/assets/images/outdoor/up5osast-980x2000.jpeg"/></div>
            <div><img class="img-fluid" src="/assets/images/outdoor/z1n23i3v-980x2000.jpeg"/></div>
            <div><img class="img-fluid" src="/assets/images/outdoor/z9fv0q0u-980x980.jpeg"/></div>
            <div><img class="img-fluid" src="/assets/images/outdoor/zh945857-980x2000.jpeg"/></div>
            <div><img class="img-fluid" src="/assets/images/outdoor/zj8ra0ah-980x2000.jpeg"/></div>
            <div><img class="img-fluid" src="/assets/images/outdoor/zk3gflfx-980x2000.jpeg"/></div>
            <div><img class="img-fluid" src="/assets/images/outdoor/zkiblsl1-980x2000.jpeg"/></div>
            <div><img  class="img-fluid" src="/assets/images/outdoor/zn5osast-980x2000.jpeg"/></div>
            <div><img class="img-fluid" src="/assets/images/outdoor/zum68f8z-980x2000.jpeg"/></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-padding section-gray">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 push-md-6 d-flex flex-column justify-content-center">
        <h2 class="small-h2">Outdoor Video</h2>
        <p>Entertainment has moved outside in a big way. Forget tailgating. Quality outdoor HDTVs bring your favorite sporting event to your Deck, Outdoor Kitchen or even Poolside. When the sun goes down gather around your outdoor movie theater and be the hit of the neighborhood.</p>
 
        <p>At Electronic Home we offer outdoor TVs from Seura and Sunbrite, movie screens and glass from Stewart, outdoor TV lifts and innovative rolling weatherproof media carts from MediaLiftTV and Nexus 21.</p>
      </div>
      <div class="col-12 col-md-6 pull-md-6">
        <div class="photo-slider pr-md-4 mt-4 mt-md-0">
          <div class="slider-image">
            <div><img src="/assets/images/outdoor/video/u8et4649-980x2000.jpeg"/></div>
            <div><img src="/assets/images/outdoor/video/ujldqeqc-980x2000.jpeg"/></div>
            <div><img src="/assets/images/outdoor/video/unfv0q0u-980x2000.jpeg"/></div>
            <div><img src="/assets/images/outdoor/video/z1jwi5id-980x2000.jpeg"/></div>
            <div><img src="/assets/images/outdoor/video/zt945857-980x2000.jpeg"/></div>
            <div><img src="/assets/images/outdoor/video/zu3gflfx-980x2000.jpeg"/></div>
            <div><img src="/assets/images/outdoor/video/zhm68f8z-980x2000.jpeg"/></div>
          </div>
        </div>
      </div>
    </div>
    <div id="wifi"></div>
  </div>
</section>
<section class="section-padding">
  <div class="container">
    <div>
      <h2 class="small-h2">Outdoor WiFi</h2>
      <p>Imagine sitting around your pool, at your boat dock or on the beach behind your home and still being fully connected to the world without eating into your data plan.....Electronic Home can make this become a reality!</p>

      <p>We offer high performance outdoor WAPs (Wireless Access Points) that will allow you to read your emails, surf the web or run your apps just like you were in your home.</p>
    </div>
  </div>
</section>
<section class="section-padding foam" id="electronics">
  <div class="container">
     <h2 class="small-h2 text-center">Outdoor Solutions</h2>
    <div class="row partner-logos">
    <div class="col-6 col-sm-3">
    <a href="https://www.seura.com//">
      <img class="img-fluid" src="/assets/logos/Seura.svg" alt="Seura"/>
    </a>
    <a href="https://www.coastalsource.com//">
      <img class="img-fluid" src="/assets/logos/Coastal-Source.svg" alt="Coastal Source"/>
    </a>
    </div>
    <div class="col-6 col-sm-3">
      <a href="https://www.episodespeakers.com/">
      <img class="img-fluid" src="/assets/logos/Episode.svg" alt="Episode"/>
    </a>
      <a href="https://www.sealoctvs.com/">
      <img class="img-fluid" src="/assets/logos/Sealoc.svg" alt="Sealoc"/>
    </a>
    </div>
    <div class="col-6 col-sm-3">
      <a href="https://www.brownjordan.com/">
        <img class="img-fluid" src="/assets/logos/Brown-Jordan.svg" alt="Brown Jordan"/>
      </a>
      <a href="https://www.jamesloudspeaker.com//">
        <img class="img-fluid" src="/assets/logos/James-Loudspeaker.svg" alt="James Loudspeaker"/>
      </a>
    </div>
    <div class="col-6 col-sm-3">
      <a href="http://www.danver.com/">
        <img class="img-fluid" src="/assets/logos/Danver.svg" alt="Danver"/>
      </a>
      <a href="http://www.sonance.com/">
        <img class="img-fluid" src="/assets/logos/Sonance.svg" alt="Sonance"/>
      </a>
    </div>
  </div>
</section>
<section class="section-padding section-gray">
  <div class="container">
    <div>
      <h2 class="small-h2">Outdoor Kitchens</h2>
      <p>Expanding to the great outdoors is among the top additions in both new and existing homes. A well designed Outdoor Kitchen extends your living space into an area often overlooked.</p>

      <p>Gone are the days of a simple Charbroil or Weber on wheels sitting on your patio or deck. Today's Outdoor Kitchen is so much more. We work with you to choose the proper site plan and functional layout to maximize your use and enjoyment.</p>

      <div class="row mt-4 mt-md-5">
        <div class="col-12 col-md-5 push-md-7 mb-4 mb-md-0 d-flex flex-column justify-content-center">
          <div class="photo-slider">
            <div class="slider-image">
              <div><img src="/assets/images/kitchen/unfdf33v-980x2000.jpeg"/></div>
              <div><img src="/assets/images/kitchen/u3010ffx-980x2000.jpeg"/></div>
              <div><img src="/assets/images/kitchen/u9szs557-980x2000.jpeg"/></div>
              <div><img src="/assets/images/kitchen/u8yuyaah-980x2000.jpeg"/></div>
              <div><img src="/assets/images/kitchen/ujl7liid-980x2000.jpeg"/></div>
              <div><img src="/assets/images/kitchen/up8v8mmr-980x2000.jpeg"/></div>
              <div><img src="/assets/images/kitchen/z9szs557-980x2000.jpeg"/></div>
              <div><img src="/assets/images/kitchen/z1969kk4-980x2000.jpeg"/></div>
              <div><img src="/assets/images/kitchen/zc3b3nng-980x2000.jpeg"/></div>
              <div><img src="/assets/images/kitchen/zcioijjb-980x2000.jpeg"/></div>
              <div><img src="/assets/images/kitchen/zhmgmpp6-980x2000.jpeg"/></div>
              <div><img src="/assets/images/kitchen/zk5r599o-980x2000.jpeg"/></div>
              <div><img src="/assets/images/kitchen/zp8v8mmr-980x2000.jpeg"/></div>
              <div><img src="/assets/images/kitchen/zt969kk4-980x2000.jpeg"/></div>
              <div><img src="/assets/images/kitchen/zu3b3nng-980x2000.jpeg"/></div>
              <div><img src="/assets/images/kitchen/znfdf33v-980x980.png"/></div>
              <div><img src="/assets/images/kitchen/zh3b3nng-980x2000.png"/></div>
              <div><img src="/assets/images/kitchen/upfdf33v-980x2000.png"/></div>
              <div><img src="/assets/images/kitchen/ztmgmpp6-980x2000.png"/></div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-7 pull-md-5">
          <h3 class="h5">Brown Jordan &amp; Danver Stainless Outdoor Kitchens</h3>
          <p>Dare to be different! Everyone offers plain old flat stainless steel doors and drawers; you can't tell one brand from the other.....until now.....</p>

          <p>Electronic Home is proud to offer Brown Jordan and Danver Stainless Outdoor Kitchen Cabinets. They both offer multiple cabinet door styles and finishes for that truly custom look. Their powder coated painted finishes are made to withstand weather, sunlight and harsh conditions.</p>

          <p>All door and drawer fronts are constructed from commercial grade stainless steel and are available in a standard #4 brush finish or rich designer powder coated colors or powder coated realistic, faux wood grains. Drawers display premium features including double-wall construction, full extension, under-mount glides and “soft-close, self-close”.</p>
        </div>
      </div>
      <p>Brown Jordan and Danver cabinets can be custom configured to handle just about any outdoor appliance or accessory, including grills, smokers, sinks, bartender centers, pizza ovens, refrigerators, freezers, ice makers, trash bins have optional matching side and rear panels for standalone and island applications and inserts for the ultimate built-in!</p>

      <h3 class="h5 mt-5">Memphis Wood Fired Grills/Smokers</h3>
      <p>Think about the problems with most smokers....you have to open them up to add wood and/or tend to the fire and that lets smoke and heat escape. Memphis uses wood pellets with an automatic feeder that supplies the proper amount of pellets to maintain your desired heat setting....all without you having to lift a finger!</p>

      <p>No more constant monitoring! - Since it is a quality outdoor oven that is sealed, it keeps the temperature within 2° of the desired setting. It has a programmable panel that puts "Smoking for Dummies" to shame as it just doesn't get any easier than this!</p>

      <h3 class="h5 mt-5">TEC Infrared Grills</h3>

      <p>TEC offers infrared burners that distribute heat evenly across the cooking grates. Every square inch of cooking surface is available for grilling. The stainless steel cooking grates sit directly on top of the radiant glass panels, preventing air flow that ignites food drippings and causes flare ups. Not having hot air surrounding your food also keeps in the moisture!</p>

      <p>When preheating on HIGH with the hood closed, TEC grills reach temperatures of 850° - 900° in just seven minutes!</p>
    </div>
  </div>
</section>
<section class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5">
        <h2 class="small-h2">Fire Tables</h2>
        <p>The Finest Outdoor Fire Tables From Firetainment combine the utility of a grill, the entertaining space of a table and the mesmerizing charm of a fire pit. Whether you’re cooking sirloins with the family or unwinding with a glass of cabernet sauvignon, our “Firetaining” centers will undoubtedly become the heart of your home.</p>
      </div>
      <div class="col-12 col-md-7">
        <div class="photo-slider pl-md-5">
          <div class="slider-image">
            <div><img src="/assets/images/fire/u5azy2yp-980x2000.jpeg"/></div>
            <div><img src="/assets/images/fire/fire-table.jpeg"/></div>
            <div><img src="/assets/images/fire/uis7eyek-980x2000.jpeg"/></div>
            <div><img src="/assets/images/fire/uk3gflfx-980x2000.jpeg"/></div>
            <div><img src="/assets/images/fire/un5osast-980x2000.jpeg"/></div>
            <div><img src="/assets/images/fire/upiblsl1-980x2000.jpeg"/></div>
            <div><img src="/assets/images/fire/z1pym3mr-980x2000.jpeg"/></div>
            <div><img src="/assets/images/fire/z98ra0ah-980x2000.jpeg"/></div>
            <div><img src="/assets/images/fire/zhjwi5id-980x2000.jpeg"/></div>
            <div><img src="/assets/images/fire/zniblsl1-980x2000.jpeg"/></div>
            <div><img src="/assets/images/fire/ztn23i3v-980x2000.jpeg"/></div>
            <div><img src="/assets/images/fire/zu945857-980x2000.jpeg"/></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
