<section class="jumbotron hero hero-music d-flex">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 text-md-left">
        <h1 class="mb-3">Bring the house down.</h1>
        <p class="lead mb-0">Electronic Home offers quality speakers and music systems that fit almost any budget.</p>
      </div>
    </div>
  </div>
</section>
<section class="section-padding pb-5">
  <div class="container">
    <h2 class="small-h2">Music Your Way</h2>
    <p>Music is a large part of many of our lives. Electronic Home designs and installs systems that allow one to enjoy music from any room in the house. Enjoy concert level performance in your critical listening areas, soothing background music in others or quality personal audio for privacy or on-the-go; you choose where you want music and the level of performance that suits your lifestyle.</p>
  </div>
</section>
<section id="music">
  <div class="container">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#reference" role="tab">Reference Listening</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#surround" role="tab">Surround Sound</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#multi" role="tab">Multi Room Audio</a>
      </li>
    </ul>
    <div class="tab-content pt-5">
      <div class="tab-pane active" id="reference" role="tabpanel">
        <h2 class="small-h2 mb-4">Like Being There</h2>
        <div class="row">
          <div class="col-12 col-md-5">
            <img class="img-fluid mb-4 mb-md-0" src="/assets/images/reference-meridian.jpg">
          </div>
          <div class="col-12 col-md-7 d-flex align-items-center">
            <div>
              <p>The finer things in life often only get better with age, what if you could say the same about your music collection? With a high-performance listening room, you can rediscover every note, every breath, and every emotion in the performances you love.</p> 
              <p>More than just speakers, our design expertise will help match room acoustics, interconnect cables and power conditioning to maximize your equipment and deliver an experience.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="surround" role="tabpanel">
        <h2 class="small-h2">7.1 and 5.1 Systems</h2>
        <p>Our expertise in home cinema carries over into media rooms, family rooms, game rooms and even bedrooms, with high quality surround installations in a variety of applications.</p>

        <p>These systems provide a great place for listening to music as well as watching movies. If you enjoy live music you can put on a 4K concert at home with a front-row ticket, and hear the applause echoing off of your walls.</p>
      </div>
      <div class="tab-pane" id="multi" role="tabpanel">
        <div>
          <h2 class="small-h2">Music in Every Room</h2>
          <p>There are whole house audio systems now available at almost every budget. Most of our premiere systems use speaker wire run throughout your home to in-ceiling, in-wall and freestanding speakers, accented by critical listening areas and media rooms.</p>

          <p>Our customers also want systems that can incorporate wireless zones and streaming content from services like iTunes and Spotify. Electronic Home has combined these technologies to create hybrid systems that solve difficult installations.</p>

          <p>Control systems make these systems easy to operate from keypads, phones and tablets. Scenes like "Entertain" provide background music with volume and EQ balanced from room to room with the touch of a button.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-gray section-padding">
  <div class="container">
    <div class="row">
      <div id="kaleidescape" class="col-md-4 push-md-8 text-center text-md-right">
        <img class="img-fluid mb-4 mb-md-0" src="/assets/images/roon.png">
      </div>
      <div class="col-md-8 pull-md-4 d-flex align-items-center">
        <div>
          <h2 class="small-h2">Roon</h2>
          <p>The Roon system has the best user interface in the industry — finding and playing your music is easy, intuitive and fun for everyone. Roon provides the richest information about your music along with a flexible way to navigate through this information from your tablet or phone.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-padding foam" id="electronics">
  <div class="container">
     <h2 class="small-h2 text-center">Media Servers</h2>
      <!-- <h3 class="h5 text-center">We offer components from top brands.</h3> -->
    <div class="row partner-logos">
    <div class="col-6 col-md-4">
    <a href="https://www.bluesound.com//">
      <img class="img-fluid" src="/assets/logos/Bluesound.svg" alt="Blue Sound"/>
    </a>
    <a href="https://www.apple.com/apple-tv-4k/"> 
      <img class="img-fluid" src="/assets/logos/Apple-TV.svg" alt="Apple TV"/>
    </a>
    </div>
    <div class="col-6 col-md-4"> 
      <a href="https://www.roku.com/">
      <img class="img-fluid" src="/assets/logos/Roku.svg" alt="Roku"/>
    </a>
      <a href="https://www.kaleidescape.com/">
      <img class="img-fluid" src="/assets/logos/Kaleidescape.svg" alt="Kaleidescape"/>
    </a>
    </div>
    <div class="col-6 col-md-4">
      <a href="https://www.roon.com/">
        <img class="img-fluid" src="/assets/logos/Roon.svg" alt="Roon"/>
      </a>
      <a href="http://www.sonos.com/">
        <img class="img-fluid" src="/assets/logos/Sonos.svg" alt="Sonos"/>
      </a>
    </div>
  </div>
</section>
<section class="section-padding">
  <div class="container">
    <h2 class="small-h2">Wireless Audio Systems</h2>
    <p>Advances in wireless technologies allow us to offer wireless audio systems for existing homes, apartments and other rentals. EH has chosen to represent <b>SONOS</b> due to their product offerings, award winning app and the fact that they really do offer access to "All the music on Earth". Although Sonos offers several self-contained, boxed solutions, we often use the Sonos CONNECT and CONNECT AMPs to tie into traditional systems and speakers. We also use these as problem solvers getting audio into areas that were previously either not possible or practical.</p>
    <a href="/sonos" class="more-link">Learn more about Sonos &raquo;</a>
  </div>
</section>
<section class="section-padding section-gray">
  <div class="container">
    <h2 class="small-h2 text-right">Outdoor Audio</h2>
    <p class="text-right">Quality outdoor audio has had many advances in recent years and now come in many styles and performance levels.</p>

    <p class="text-right">Terra Speakers offers awesome sounding traditional outdoor box style speakers that can be mounted to your home/deck or placed on ground stakes throughout your landscaping. They offer in-ground subwoofers for those that want to crank it up and party and bollards with optional LED lighting for path or accent lighting. Lifetime warranty!</p>

    <p class="text-right">Sonance also offers a variety of outdoor models including traditional outdoor box style, rocks and sub/sat systems that blend with outdoor lighing.</p>

    <p class="text-right">Coastal Source not only makes the world's finest LED outdoor lighting, they also have matching speakers</p>
  </div>
</section>
<section class="section-padding section-white" id="electronics">
  <div class="container">
     <h2 class="small-h2 text-center">Speakers</h2>
    <div class="row partner-logos">
    <div class="col-6 col-sm-3">
    <a href="https://www.focal.com//">
      <img class="img-fluid" src="/assets/logos/Focal.svg" alt="Focal"/>
    </a>
    <a href="https://www.coastalsource.com//">
      <img class="img-fluid" src="/assets/logos/Coastal-Source.svg" alt="Coastal Source"/>
    </a>
    </div>
    <div class="col-6 col-sm-3">
      <a href="https://www.episodespeakers.com/">
      <img class="img-fluid" src="/assets/logos/Episode.svg" alt="Episode"/>
    </a>
      <a href="https://www.paradigm.com/">
      <img class="img-fluid" src="/assets/logos/Paradigm.svg" alt="Paradigm"/>
    </a>
    </div>
    <div class="col-6 col-sm-3">
      <a href="https://www.svsound.com/">
        <img class="img-fluid" src="/assets/logos/SVS.svg" alt="SVS"/>
      </a>
      <a href="https://www.jamesloudspeaker.com//">
        <img class="img-fluid" src="/assets/logos/James-Loudspeaker.svg" alt="James Loudspeaker"/>
      </a>
    </div>
    <div class="col-6 col-sm-3">
      <a href="http://www.jlaudio.com/">
        <img class="img-fluid" src="/assets/logos/JL-Audio.svg" alt="JL Audio"/>
      </a>
      <a href="http://www.sonance.com/">
        <img class="img-fluid" src="/assets/logos/Sonance.svg" alt="Sonance"/>
      </a>
    </div>
  </div>
</section>
